{% assign product_tags = product.tags | join: ', ' %}
{%- assign vendor_handle = product.vendor | handle -%}
{%- assign collection_for_vendor = collections[vendor_handle] -%}
{% if product.vendor %}
  {% assign manufacturer = product.vendor %}
{% else %}
  {% assign manufacturer = product.metafields.global.manufacturer  %} 
{% endif %}

By
<a class="product-meta__vendor link link--accented" href="{{ collection_for_vendor.url }}"
  ><span class="product-meta__vendor">{{ manufacturer }}</span></a
>
<!-- {{ product.vendor }}</a> -->
{% if product_tags contains 'Vendor-Canadian' %}
  <a href="{{ collections['canadian-vendors'].url }}">
    <span class="canada-flag">&nbsp;</span>
  </a>
{% endif %}