{%- render 'address-modals' -%}

<account-page>
  <div class="skeleton-box skeleton-account"></div>
  <script type="application/json" id="account-data">
     {% render 'JSON-customer-data' %}
  </script>
</account-page>
