{{'rebuy--widget.css' | asset_url | stylesheet_tag }}
<script id="rebuy-pre-purchase-template" type="text/template">
    <div class="rebuy-widget"
        v-cloak
        v-on:click="stopPropagation($event)"
        v-bind:id="'rebuy-widget-' + id"
        v-bind:class="['widget-type-' + config.type.replace('_','-'), 'widget-display-' + config.display_type, products.length > 0 ? 'is-visible' : 'is-hidden']"
    >
        <div
            class="rebuy-widget-container " data-rebuy-widget-custom
            v-cloak
            v-bind:class="['widget-display-' + config.display_type, visible ? 'is-visible' : 'is-hidden' ]"
            v-on:click.self="declinePrepurchaseOffer()">
            <div class="rebuy-widget-content">
                <div class="rebuy-modal-close" v-on:click="declinePrepurchaseOffer()" aria-label="close modal">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </div>
                <div class="rebuy-timer" v-if="hasTimer()">
                    <p class="rebuy-timer-title" v-if="config.language.timer_title">
                        <span v-html="config.language.timer_title"></span> <span class="rebuy-timer-minutes" v-html="config.timer.duration_minutes"></span>:<span class="rebuy-timer-seconds" v-html="config.timer.duration_seconds"></span>
                    </p>
                </div>
  
                <h3 class="super-title" v-if="config.language.super_title" v-html="config.language.super_title"></h3>
                <h4 class="primary-title" v-if="config.language.title" v-html="config.language.title"></h4>
                <div class="description" v-if="config.language.description" v-html="config.language.description"></div>
  
                <div class="rebuy-product-grid rebuy-pre-purchase-block" v-bind:class="layoutClasses">
                    <div class="rebuy-product-block" v-for="product in products" v-bind:class="[product.handle, 'product-id-' + product.id, cartHasProduct(product) ? 'cart-has-item' : '', productTagClasses(product)]">
                        <div class="rebuy-product-media">
                            <a class="rebuy-product-image" v-bind:href="learnMoreURL(product)" v-bind:style="imageStyles" v-on:click="learnMore(product);" v-bind:class="[hasLearnMore() ? 'clickable' : '']">
                                <img v-bind:src="itemImage(product, product.selected_variant, '400x400')" v-bind:alt="product.title">
                            </a>
                        </div>
                       <div class="product-info-wrapp">
                        <div class="rebuy-product-info">
                            <a class="rebuy-product-title" v-bind:href="learnMoreURL(product)" v-on:click="learnMore(product);" v-html="product.title" v-bind:class="[hasLearnMore() ? 'clickable' : '']"></a>
                            <div class="rebuy-variant-title" v-if="showVariantTitle(product)" v-html="product.selected_variant.title"></div>
                            <div class="rebuy-product-review" v-if="hasProductReviews(product)" aria-label="product star rating">
                                <span class="rebuy-star-rating sr-only">
                                    <span
                                        v-if="product.reviews.star_rating"
                                        class="rebuy-star-rating-value sr-only"
                                        v-html="product.reviews.star_rating + ' stars out of 5 stars'"
                                    >
                                    </span>
                                    <span class="rebuy-star-rating-background"></span>
                                    <span class="rebuy-star-rating-foreground" v-bind:style="{ width: productReviewRatingPercentage(product) }"></span>
                                </span>
                                <span class="rebuy-review-count" v-html="productReviewCount(product)"></span>
                            </div>
  
                            <div class="rebuy-product-price">
                                <div v-if="variantOnSale(product, product.selected_variant)">
                                    <span class="rebuy-money sale">
                                        <span class="sr-only">Sale price</span>
                                        <span v-html="formatMoney(variantPrice(product, product.selected_variant))"></span>
                                    </span>
                                    <span class="rebuy-money compare-at">
                                        <span class="sr-only">Original price</span>
                                        <span v-html="formatMoney(variantCompareAtPrice(product, product.selected_variant))"></span>
                                    </span>
                                </div>
  
                                <div v-if="!(variantOnSale(product, product.selected_variant))">
                                    <span class="rebuy-money">
                                        <span class="sr-only">Price</span>
                                        <span v-html="formatMoney(variantPrice(product, product.selected_variant))"></span>
                                    </span>
                                </div>
                            </div>
  
                            <div class="rebuy-product-description" v-if="showProductDescription(product)" v-html="text(product.body_html)"></div>
                        </div>
  
                        <div class="rebuy-product-options" v-if="showVariantSelect(product)">
                            <select
                                class="rebuy-select"
                                v-bind:aria-label="'variant of ' + product.title"
                                v-model="product.selected_variant_id"
                                v-bind:disabled="product.status == 'added'"
                                v-on:change="selectVariant(product)">
                                <option v-for="variant in product.variants" v-bind:value="variant.id" v-html="variant.title"></option>
                            </select>
                        </div>
  
                        <div class="rebuy-product-actions">
                            <div class="subscription-checkbox" v-if="showSubscriptionOptions(product)">
                                <label class="rebuy-checkbox-label">
                                    <input
                                        class="checkbox-input rebuy-checkbox"
                                        v-model="product.subscription"
                                        v-on:change="toggleSubscription(product)"
                                        type="checkbox" />
                                    <span class="checkbox-label" v-html="upgradeToSubscriptionLabel(product)"></span>
                                </label>
                            </div>
  
                            <div class="subscription-frequency" v-if="showSubscriptionFrequency(product)">
                                <select
                                    class="rebuy-select"
                                    aria-label="subscription frequency"
                                    v-model="product.subscription_frequency"
                                    v-bind:disabled="product.status == 'added'"
                                    v-on:change="updateSubscriptionFrequency(product)">
                                    <option v-for="frequency in product.subscription_frequencies" v-bind:value="frequency">{{ frequency }} {{ product.subscription_interval }}</option>
                                </select>
                            </div>
                            <div class="product-quantity" v-if="hasQuantityInputEnabled()">
                                <div class="rebuy-select-wrapper">
                                    <label class="rebuy-label">Quantity</label>
  
                                    <select
                                        class="rebuy-select"
                                        aria-label="product quantity"
                                        v-bind:disabled="product.status == 'added'"
                                        v-model="product.quantity">
                                        <option v-for="n in maxQuantityInputValue()" v-bind:value="n">{{ n }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="rebuy-button-container">
                                <button
                                    v-if="product.status != 'added'"
                                    class="rebuy-button"
                                    v-bind:class="{ working: (product.status != 'ready' && product.status != 'selecting') }"
                                    v-bind:disabled="!(variantAvailable(product.selected_variant)) || (product.status != 'ready' && product.status != 'selecting')"
                                    v-on:click="addToCart(product)"
                                    type="button">
                                        <span v-html="buttonLabel(product)"></span>
                                </button>
  
                                <div class="rebuy-button--selected" v-if="product.status == 'added'" v-on:click="removeFromCart(product)">
                                    <button class="rebuy-button dark rebuy-button__remove rebuy-button__upsell-add">
                                        <span v-html="buttonLabel(product)"></span>
                                    </button>
                                    <button class="rebuy-button dark rebuy-button__text rebuy-button__upsell-remove" v-bind:aria-label="'Remove ' + product.title">
                                        <span>
                                            <i class="fas fa-times" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
  
                <div class="bottom-container">
                    <div class="rebuy-button-actions rebuy-pre-purchase-actions">
                        <button
                            v-if="!hasAddedPrepurchase()"
                            class="rebuy-button rebuy-button--mlr-10 decline"
                            v-on:click="declinePrepurchaseOffer()">
                            <span v-html="config.language.decline"></span>
                        </button>
                        <button
                            class="rebuy-button rebuy-button--mlr-10 outline"
                            v-on:click="checkout()">
                            <span v-html="config.language.checkout"></span>
                        </button>
                    </div>
  
                    <div class="powered-by-rebuy">
                        <a v-bind:href="'https://rebuyengine.com/?shop=' + config.shop.myshopify_domain" target="_blank" rel="noopener">
                            Powered by Rebuy
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </script>