{{ 'rebuy-frequently-bought-together.css' | asset_url | stylesheet_tag }}

<div class="container frequently-bought-together" data-rebuy-id="99103" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
