@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';


@custom-selector :--heading .banner__heading.text__heading;
@custom-selector :--subheading .banner__subheading.text__subheading;
@custom-selector :--mobile-image .image--mobile.banner-content__image;

.banner {
    @media (--sm) {
        @include mixins.container;
        margin-top: var(--section-margin);
    }

    &__content {
        @include mixins.grid(3,90px,196px);
    }

    img {
        object-fit: cover;

        @media (--md) {
            object-fit: unset;
        }
    }

    &__item div:not(.banner-content__text-wrapper,.banner__text-wrapper, .content){
        height: 100%;
    }

    &__carousel {
        position: relative;
    }

    &__item {
        @media(--sm) {
            grid-row: span 2;  
        }
        @media (--md) {
            grid-row: span 1;
        }
    }

    &__item:nth-of-type(1) {
        grid-column: span 3;
        grid-row: span 2;

        @media (--sm) {
            grid-column: span 2;
            grid-row: span 4;
        }
        @media (--md) {
            grid-row: span 2;
            grid-column: span 2;
        }
    }

    &__text-wrapper {
        max-width: 151px;
    }

    :--heading {
            @include use-text-style('heading-1-alt');
            font-weight: typography.$semi-weight;
            line-height: 1;
    }

    :--subheading {
     font-weight: typography.$semi-weight;
     display: block; 

     @media (--md) {
        display: unset;
     }
    }

    &--desktop {
        display: none;

        @media (--sm) {
            display: block;
        }
    }

    &--mobile {
        display: block;

        @media(--sm) {
            display: none;
        }
    }

    :--mobile-image .responsive-image__image {
        border-radius: 0;
    }
}