@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/sidebar-banner';


@custom-selector :--grid .banner-carousel-grid__grid-wrapper;
@custom-selector :--text-container .text-wrapper.banner-carousel-grid__text-wrapper;
@custom-selector :--subheading-grid-item  .banner-carousel-grid__subheading.text__subheading;
@custom-selector :--cta-grid-item  .banner-carousel-grid__cta.text__cta;
@custom-selector :--text-wrap .sidebar-banner__text-wrapper;
@custom-selector :--text-wrap .text-image__text-wrapper;
@custom-selector :--image .responsive-image__wrapper ;

.banner-carousel-grid {
    max-width: none;
  @media(--sm){
    @include mixins.container;
  }
    &__content {
      padding: var(--section-padding) 0 0;
        @media(--sm) {
          @include mixins.grid(5,250,250);
          column-gap: 12px;
        }
        @media(--md) {
          column-gap: 27px;
        }
    }

    :--image{
      max-height: 100% !important;
    }

    :--text-image {
        margin: 0 20px;
        @media(--sm) {
        margin: 0;
        grid-column: span 2;
        width: 100%;
        }

        @media(--md-large) {
          margin: 0;
          grid-column: span 1;
          width: 100%;
          }
    }

    :--grid {
      margin-top:var(--grid-row-gap-large);
        margin-left: 20px;
      @media(--sm) {
        margin-left: 0;
        max-width: 100%;
        grid-column: span 3;
        margin-top:0;
      }

      @media(--md-large) {
        grid-column: span 4;
      }
    }

    :--text-wrap{
      cursor: pointer;
    }


    :--text-container {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      align-items: flex-start;
      @media(--md){
        row-gap: 10px;
      }
    }
    .button--outline:not(.sidebar-banner__cta){
      padding: 7px 12px;
    }

    :--subheading-grid-item {
      @include use-text-style('body-alt-small');
      min-height: 24px;
      @media (--md) {
        @include use-text-style('body-alt');
        font-weight: typography.$semi-weight;
      }
    }

    :--cta-grid-item {
      margin-top: 5px;

      @media(--md) {
        margin-top: 10px;
      }
    }

    :--text-wrap{
      cursor: pointer;
    }

    &__heading {
      br {
        display: none;

        @media(--md) {
          display: block;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 10px;
      row-gap: 5px;

      @media(--md) {
        padding-bottom: 20px;
        row-gap: 10px;
      } 
    }

    &__cta {
      max-width: max-content;
    }



} 