@use 'StyleComponents/mixins';
@import 'StyleComponents/breakpoints';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import '../components/custom-carousel';

.banner {
    @media (--sm) {
        @include mixins.container;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat((3, minmax(0, 1fr)));
        grid-auto-rows: 90px;
        column-gap: 10px;
        row-gap: 20px;

        @media(--sm) {
            column-gap: 20px;
        }

        @media (--md) {
            grid-auto-rows: 154px;
            grid-auto-rows: 196px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (--md) {
            object-fit: unset;
        }
    }

    &__item * {
        height: 100%;
    }

    &__carousel {
        position: relative;
    }

    &__item:nth-of-type(1) {
        grid-column: span 3;
        grid-row: span 2;

        @media (--sm) {
            grid-column: span 2;
        }
    }
}