
@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/icon-text';

@custom-selector :--text .blog-page-list-section__eyebrow.text__eyebrow;
@custom-selector :--text-wrapper .blog-page-list-section__text.text__container;
@custom-selector :--icon-text .blog-page-list-section__icon-text.icon-text;
@custom-selector :--icon .icon__container.blog-page-list-section__icon;
@custom-selector :--cta .button.blog-page-list-section__cta;
@custom-selector :--icon-text .blog-page-list-section__icon-text.icon-text;
@custom-selector :--text-font .text__eyebrow;

.blog-page-list-section {
  padding: var(--section-content-margin) 0 ;  
  position: sticky;
  top: 50px;
  z-index: 4;
  background: colors.$white;
  border-bottom: 1px solid #DADADA;
  @media(--sm){
    top:71px;
    padding: var(--section-padding) 0;
    border-bottom: 1px solid #DADADA;
  }
  @media(--md){
    top:141px;
  }


  &__wrapper {
    @media(--md) {
     @include mixins.container;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--grid-column-gap);
    justify-content: center;


    &--hide {
      display: none !important;
    }

    &--show {
      display: block !important;
    }

    @media(--md) {
      column-gap: 14px;
    }
    
    row-gap: var(--grid-row-gap);
    &--desktop {
        display: none;

        @media (--md) {
            display: flex;
        }
    }
    &--mobile {
        display: block;

        @media (--md) {
            display: none;
        }
    }
  }

  :--icon-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    @media(--md) {
      padding: 20px;
      justify-content: center;
      flex-direction: row;
    }
  }

  :--text {
    padding: 0 7px;
    @include use-text-style('body-alt');
    @media(--md) {
      margin-top:0;
    }
  }

  :--cta {
    margin-top: 5px;
    padding: 0;
    display: none;

    @media(--md) {
      display: block;
    }
  }
  :--text-wrapper  {
    max-width: 100%;
  }

  :--icon-text{
    border-radius: 4px;
    color: colors.$red;
    border: 1px solid colors.$red;
    width: auto;
    padding: 9px 16px;
    @media(--sm){
      padding: 12px 24px;
    }
    }
    .btn-active{
        background:colors.$red ;
        color: colors.$white !important;
    }

  :--text-font{
    font-weight: typography.$semi-weight !important;
  }

  .carousel-placeholders {
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    @media(--md-large){
      grid-template-columns: repeat(5,1fr);
      column-gap: 20px;
    }
  }
  .carousel-place{
    display: contents;
  }
  .carousel-place div{
    background: colors.$gray-400;
    height: 75px;
    width: 100%;
  }

  .swiper-navigation {
      top: 59%;
  }

  :--icon-text {
    @media(--md) {
      &:hover {
        background: colors.$red;
        color: colors.$white !important;
      }
    }
  &.active{
    background: colors.$red;
    color: colors.$white !important;
  }
}

  @include mixins.overflowCarousel;
}