@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';


.blog-container{
    @include mixins.container;
    @media(--md){
        display: unset;
    }
   
}

.blog-category{
    @include mixins.container;
   
}

.blog-category-arrow
svg{
    @media(--xxs){ 
        width: 11px !important;
        height: 12px !important;
    }
 
}

.blog-container-heading{
    @include use-text-style('heading-2'); 
    @media(--sm){
    @include use-text-style('heading-1'); 
    }
    @media(min-width:768px) and (max-width:1023px){
        margin-left: unset;
    }
}

.blog-alignment{
    @media(--md){
        margin: 0 35px;
    }
    
}