@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

.brand-banner__collection-banner-wrapp{
    .brand-banner__collection-info{
        .logo-slider-flex-desktop{
            // display: none;
            height: 100%;
            @media(--sm){
                display: block;
            }
            .logo-container{
                padding: var(--section-padding);
                height: 100%;
                @media(--sm){
                    padding: calc(var(--section-padding)*2);
                }
                .card__header{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    align-items: stretch;
                    padding: 0 !important;
                    .collection__header-inner{
                        .collection__meta{
                            .logo-heading{
                                display: none;
                            }
                            .brand_collection_title.collection__title{
                                @include use-text-style('heading-3');
                                margin-bottom: 12px;
                                color: colors.$black;
                                @media(--sm){
                                    @include use-text-style('heading-1-alt');
                                    margin-bottom: calc(var(--section-padding) / 2);
                                }
                            }
                            .collection__meta-inner {
                                p{
                                    @include use-text-style('body-regular');
                                    color: colors.$black;
                                    line-height: 17.4px;
                                    margin-bottom: 12px;
                                    @media(--sm){
                                        margin-bottom: var(--section-padding);
                                        @include use-text-style('body-alt');
                                        line-height: 22px;
                                        margin-bottom: var(--section-padding);
                                    }
                                }
                                .collection-banner__cta{
                                    text-decoration: none !important; 
                                    .btn-text{
                                        @include use-text-style('body-regular');
                                        font-weight: typography.$heading-weight;
                                        border-bottom: 1px solid colors.$black;
                                        border-radius: unset;
                                        margin-left: 6px;
                                        @media(--sm){
                                            @include use-text-style('body-alt');
                                            font-weight: typography.$semi-weight;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .title-hide{
                        visibility: hidden;
                        height: 0;
                    }
                }
            }
        }
        .logo-slider-flex-mobile{
                display: none;
        }
    }
    .swiper-pagination-bullet-active{
        background: colors.$red;
        border: 2px solid colors.$red;
    }
    .swiper-pagination:not(.swiper-pagination-progressbar) {
        bottom: 10px !important;
    }   
}


.collection__header--brand{
    img{
        width: 160px;
    }
}

