@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

@custom-selector :--list .breadcrumb__link;

.breadcrumb {
   margin-top: var(--section-content-margin);

   &__wrapper {
      @include mixins.container;
   }

   :--list {
       @include use-text-style('body-regular');
      @media(--sm) {
         @include use-text-style('body-alt');
      }
      line-height: 1.6;

    }
}

.breadcrumb__link[aria-current="page"]{
   font-weight: typography.$semi-weight;
} 