@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/title-description';


@custom-selector :--heading .collection-description__heading.text-wrap__heading;
@custom-selector :--description .text-wrap__description.collection-description__description;


.category-title-description {

    margin-top: var(--section-margin);
    padding: var(--section-padding) 0 0;
    @include mixins.container;
 
   
    :--heading {
            @include use-text-style('body-title');
            font-weight: typography.$semi-weight;
            line-height: normal;
    }
    
    :--description {
        @include use-text-style('body-regular');
        line-height: 24px;
        @media (--sm) {
            @include use-text-style('body-regular');
            font-weight: typography.$regular-weight;
            line-height: 24px;
        }
    } 
}