@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@import 'breakpoints';
@import 'Token';


@custom-selector :--heading .category-collection-grid__heading.text__heading;
@custom-selector :--subheading .banner__subheading.text__subheading;
@custom-selector :--mobile-image .image--mobile.category-collection-grid-content__image;
@custom-selector :--text-flex .category-collection-grid__text;
@custom-selector :--image-text_wrapper .category-collection-grid__item__text-wrapper.text-image__text-wrapper;
@custom-selector :--button .category-collection-grid__cta.button;
@custom-selector :--transparent .category-collection-grid__cta.button--transparent ;


.category-collection-grid {

    margin-top: var(--section-margin);
        @include mixins.container;

    &__content {
        @include mixins.grid(var( --column-count), 139px, 196px);
        grid-row: span var( --row-count);
        grid-column-gap: 24px;
        grid-row-gap:24px;
        @media (--xs){
            @include mixins.grid(var( --column-count), 170px, 196px);
            grid-column-gap: 11px;
            grid-row-gap:12px;
        }
    }

    img {
        object-fit: cover;
    }

    &__item div:not(.category-collection-grid-content__text-wrapper,.banner__text-wrapper, .content){
        height: 100%;
        cursor: pointer;
    }

    :--heading {     
        line-height: 1;
        @include use-text-style('body-alt');
        font-weight: typography.$heading-weight;
        @media (--sm){
            @include use-text-style('heading-3');
        }
        @media (--md){
            @include use-text-style('heading-2');
        }
     
    }

    :--subheading {
     font-weight: typography.$semi-weight; 
     display: block; 

     @media (--md) {
        display: unset;
     }
    }

    &--desktop {
        @media (--sm) {
            display: block;
        }
    }

    &--mobile {
        display: block;

        @media(--sm) {
            display: none;
        }
    }

    :--mobile-image .responsive-image__image {
        border-radius: 0;
    }

    :--text-flex{
        display: flex;
        align-items: center;
    }

    :--image-text_wrapper{
        top: 40px;
        padding-left: 18PX;
        padding-right: 0;
        @media (--md-large){
            padding-left: 40PX;
        }
    }

    :--button{
        margin-top: 7px;
        line-height: 1;
        padding: 0px 8px 13px 0;
        @include use-text-style('body-alt');
        font-weight: typography.$heading-weight;
      
        @media (--md){
            @include use-text-style('heading-2');
        }

        path{
            stroke: transparent;
            @media(--sm){
                stroke: #FFFFFF;
            }
        }
    }

    :--transparent{
        &:hover{
            box-shadow: none;
        }
    }

    .responsive-image__wrapper {
        min-height: 100%;
        min-width: 100%;
    }
}