@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';
@import 'StyleComponents/icon-text';

@custom-selector :--text .category-section__eyebrow.text__eyebrow;
@custom-selector :--icon-text .category-section__icon-text.icon-text;
@custom-selector :--icon .icon__container.category-section__icon;

.category-section {
  margin-top: var(--section-margin);
  padding: var(--section-padding) 0 0;

  &__wrapper {
    @media(--md) {
      @include mixins.container;
    }
  }

  :--icon-text {
    padding: 14.5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media(--md) {
      padding: 31px 20px 31px 20px;
    }

    &:hover {
     @include mixins.box_hover;
    }
  }


  :--icon {
    line-height: 1;

    img {
      width: 24px;
      height: 31px;

      @media (--md) {
        width: 31px;
        height: 40px;
      }
    }
  }

  :--text {
    @media (--md) {
      margin-top: 8px;
    }
  }

  .carousel-placeholders {
    height: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    @media(--sm){
      grid-template-columns: repeat(4,1fr);
      column-gap: 30px;
    }
    @media(--md-large){
      grid-template-columns: repeat(6,1fr);
      column-gap: 30px;
    }
  }
  .carousel-place{
    display: contents;
  }
  .carousel-place div{
    background: colors.$gray-400;
    height: 125px;
    width: 100%;
  }

  @include mixins.overflowCarousel;
  @include mixins.shadow_margins;
}