@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

.countdown-banner {
    @include mixins.container;
    margin-top: calc(var(--section-margin)/2);
    margin-bottom: calc(var(--section-margin)/2);
    @media(--sm) {
        margin-top: var(--section-margin);
        margin-bottom: var(--section-margin);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.5px 8px;
    position: relative;
    background: var(--color-bg);
    color: var(--color-text);
    @media(--sm) {
        padding: 12px;
    }

    border-radius: 10px;
    border: 1px solid var(--color-bg-border);

    &.hide_banner {
        display: none !important;
    }

    &--inner {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 0;

        @media(--sm) {
            column-gap: 26px;
            justify-content: center;
        }

        @media(--md) {
            column-gap: 32px;
        }

        .button {
            &--box {
                background-color: var(--color-bg);
                color: var(--color-text);
                @include use-text-style('body-regular');
                font-weight: typography.$semi-weight;
                border: 1px solid var(--color-text);
                padding: 7px 11px;
                @media(--sm) {
                    @include use-text-style('body-alt');
                    font-weight: typography.$semi-weight;
                    padding: 13px 28px;
                }
            }
        }
    }

    &--content {
        max-width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media(--xs) {
            max-width: fit-content;
        }

        .heading {
            color: var(--color-text);
            margin: 0;

            &.heading-size--heading_1 {
                @include use-text-style('body-alt');
                font-weight: typography.$semi-weight;
                line-height: 18px;
                @media(--sm) {
                    @include use-text-style('heading-1');
                    font-weight: typography.$semi-weight;
                }
            }
            &.heading-size--heading_1_alt {
                @include use-text-style('body-regular');
                font-weight: typography.$semi-weight;
                line-height: 18px;
                @media(--sm) {
                    @include use-text-style('heading-1-alt');
                    font-weight: typography.$semi-weight;
                }
            }
            &.heading-size--heading_2 {
                @include use-text-style('body-small');
                font-weight: typography.$semi-weight;
                line-height: 18px;
                @media(--sm) {
                    @include use-text-style('heading-2');
                    font-weight: typography.$semi-weight;
                }
            }
            &.heading-size--heading_3 {
                @include use-text-style('body-small');
                font-weight: typography.$semi-weight;
                line-height: 18px;
                @media(--sm) {
                    @include use-text-style('heading-3');
                    font-weight: typography.$semi-weight;
                }
            }
        }
        
        .subheading {
            @include use-text-style('body-small');
            @media(--sm) {
                @include use-text-style('body-regular');
            }
        }
    }

    &--timer {
        max-width: 145px;
        width: 100%;

        @media(--sm) {
            max-width: 200px;
        }

        .countdown-timer {
            display: flex;
            flex-direction: row;

            &--column {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                padding: 0px 3px;

                @media(--xxs) {
                    padding: 0px 6px;
                }

                @media(--sm) {
                    padding: 0px 8px;
                }

                &:not(:first-child):before {
                    content: ":";
                    display: inline-flex;
                    justify-content: center;
                    width: 5px;
                    font-size: 1rem;
                    line-height: 2.25rem;
                    position: absolute;
                    top: 37%;
                    transform: translateY(-50%);
                    left: -2px;
                    @media(--sm) {
                        font-size: 1.75rem;
                        left: -6px;
                        width: 15px;
                    }
                }

                &--number {
                    &.number-size--heading_1 {
                        @include use-text-style('heading-2');
                        font-weight: typography.$semi-weight;
                        @media(--sm) {
                            @include use-text-style('heading-1');
                            font-weight: typography.$semi-weight;
                        }
                    }
                    &.number-size--heading_1_alt {
                        @include use-text-style('heading-3');
                        font-weight: typography.$semi-weight;
                        @media(--sm) {
                            @include use-text-style('heading-1-alt');
                            font-weight: typography.$semi-weight;
                        }
                    }
                    &.number-size--heading_2 {
                        @include use-text-style('body-alt');
                        font-weight: typography.$semi-weight;
                        @media(--sm) {
                            @include use-text-style('heading-2');
                            font-weight: typography.$semi-weight;
                        }
                    }
                    &.number-size--heading_3 {
                        @include use-text-style('body-title');
                        font-weight: typography.$semi-weight;
                        @media(--sm) {
                            @include use-text-style('heading-3');
                            font-weight: typography.$semi-weight;
                        }
                    }
                }

                &--text {
                    @include use-text-style('body-regular');
                    text-transform: uppercase;
                    font-size: 6px;
                    @media(--sm) {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
  







