@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

@custom-selector :--container .layout.container;

.collection__toolbar {
    // top: calc(var(--header-height) + 30px);
    top: calc(60px * var(--header-is-sticky, 0) + var(--announcement-bar-height-sticky));
    // @media (--sm){
    //     // top: calc(var(--header-height) + 30px); 
    //     // top: calc(58px * var(--header-is-sticky, 0));
    // }
    @media(--md){
        top:0;
    }
}

.pagination{
    border-top: none !important;
}

:--container {
    padding: 0;
    margin-top: 0;
    @media(--sm){
        margin-top: 23px;
    }
    @media(--md){
        @include mixins.container;
    }
}