@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

.collection__toolbar {
    top: calc(50px * var(--header-is-sticky, 0));
    @media (--sm){
        top: calc(55px * var(--header-is-sticky, 0));
    }
    @media(--md){
        top:0;
    }
}