@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';


.featured-brand-section {
  margin-top: var(--section-margin);
  padding: var(--section-padding) 0 0;

  &__wrapper {
    @media(--md) {
     @include mixins.container;
    }
  }

  &__item {
    border: 1px solid colors.$gray-300;
    border-radius: 10px;
    text-align: center;
    padding:10px;

    @media(--md) {
      padding: 20px;
    }

    &:hover {
      @include mixins.box_hover;
    }
  }

  .responsive-image__wrapper  {
    margin-left: auto;
    margin-right: auto;
  }

  &__content-wrapper {
    &--desktop {
      display: none;

      @media(--md-large) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @media(--md-large) {
        display: none;
      }
    }
  }
  @include mixins.overflowCarousel;
  @include mixins.shadow_margins;
}