@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints'; 

@custom-selector :--button .product-category__button.button;
@custom-selector :--heading-wrap .section__heading-wrapper;

.featured-products {
    margin-top: var(--section-margin);
    padding: var(--section-padding) 0 0;
  
    &__wrapper {
      @include mixins.container; 
    }

    &__content {
        &--desktop {
            display: none;
            @media(--md) {
                display: block;
            }
        }

        &--show-mobile{
            display: block;
        }
        
        &--mobile {
            @include mixins.product-grid;
            grid-auto-rows: minmax(300px,auto);
            @media(--md) {
                display: none;
                grid-auto-rows: minmax(327px,auto);
            }
        }

        &--hide-mobile {
            display: none !important;
        }

    }
    &__Category_wrapp{
        @include mixins.container;
        display: flex;
        column-gap: 16px;
        margin-bottom: 15px;
        overflow: auto;
        max-width: 100%;
        padding-left: var(--section-padding);
        @media(--sm){
            padding-left: calc(2*var(--section-padding));
        }
        @media(--lg){
            padding: 0;
        }
    }

    :--button{
        color: colors.$red;
        border: 1px solid colors.$red;
        background: transparent;
    }

    :--heading-wrap{
        margin-bottom: var(--section-margin);
        @media(--sm){
        margin-bottom: calc(2*var(--section-margin));
        }
    }
    
    .product-category__button--active{
        color: colors.$white !important;
        border: 1px solid colors.$red !important;
        background: colors.$red !important;
    }

  .carousel-placeholders {
    @include mixins.container; 
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    @media(--md){
      grid-template-columns: repeat(5,1fr);
      column-gap: 20px;
    }
  }
  .carousel-place{
    display: contents;
  }
  .carousel-place div{
    background: colors.$gray-400;
    height: 350px;
    width: 100%;
  }

}

