@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

@custom-selector :--heading-wrap .section__heading-wrapper;

.featured-brand-section {
  margin-top: var(--section-margin);
  padding: var(--section-padding) 0 0;

  &__wrapper {
    @media(--md) {
     @include mixins.container;
    }
  }

  &__item {
    border: 1px solid colors.$gray-300;
    border-radius: 10px;
    text-align: center;
    padding:10px;

    @media(--md) {
      padding: 20px;
    }

    &:hover {
      @include mixins.box_hover;
    }
  }

  .responsive-image__wrapper  {
    margin-left: auto;
    margin-right: auto;
  }

  &__content-wrapper {
    &--desktop {
      display: none;

      @media(--md-large) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @media(--md-large) {
        display: none;
      }
    }
  }

  :--heading-wrap{
    margin-bottom: var(--section-margin);
    @media(--sm){
      margin-bottom: calc(2*var(--section-margin));
    }
  }

  .carousel-placeholders {
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    @media(--sm){
      grid-template-columns: repeat(5,1fr);
      column-gap: 20px;
    }
    @media(--md){
      grid-template-columns: repeat(6,1fr);
      column-gap: 20px;
    }
  }
  .carousel-place{
    display: contents;
  }
  .carousel-place div{
    background: colors.$gray-400;
    height: 75px;
    width: 100%;
  }

  @include mixins.overflowCarousel;
  @include mixins.shadow_margins;

  
}