@use 'Token';

@custom-media --md (width >= 768px);
@custom-selector :--CTA .button,.link--button;


:root {
    --main-color: #000;
}

:--CTA {
    background: green;

    @media (--md) {
        background: red;
    }
}