@import '../components/variables.scss';

.image {
    &--desktop {
       display: none;

       @media (--md) { 
        display: block;
       }
    }
    &--mobile {
        display: block;
 
        @media (--md) { 
         display: none;
        }
     }
}

