@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

.landing-page-review-carousel {

	&__wrapper {
		@media(--sm){
			@include mixins.container;
		}
		@media(--xlg) {
			max-width: calc(1480px - 2*var(--base-margin)) !important;
		}
	}

	&__grid {
		@media(--md){
			@include mixins.grid(3, 195px, 195px);
			align-items: flex-start;
		}
		&-carousel {
			margin-top: 40px;
			grid-column: span 2;
			position: relative;
			.carousel__container {
                padding: 0 var(--base-margin);

				@media(--md) {
					padding:0
				}
			}
			@media(--md) {
				margin-top:0;
			}

			.swiper-slide {
				box-shadow: 0px 0px 10px 0px #0000001A;

				img {
					border-radius: 10px;
				}
			}
		}

		&-reviews {
			@media(--md) {
				grid-column: span 1;
				box-shadow: 0px 0px 10px 0px #0000001A;
				border-radius: 10px;
			}
		}

		&--full {
			.landing-page-review-carousel__grid-carousel {
				grid-column: span 3;
			}
		}
	}
	@media(--md) {
		margin-top: var(--grid-row-gap-large);
		margin-bottom: 50px;
	}
}

.landing-page-reviews {
	padding: 30px 30px 0px;
	position: relative;
	@media(--md){
		max-height: 195px;
		padding: 0 16px;
		margin-bottom: 0;
	}
	&__content {
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		text-align: center;
		@include use-text-style('body-small');
		@media(--md) {
			max-height: 58%;
			margin-bottom: 30px;
			overflow: auto;
			text-align: left;
			@include use-text-style('body-alt');
			justify-content: left;
			line-height: 28px;
			max-height: 25%;
			overflow: auto;
		}
		font-weight: typography.$regular-weight !important;
	}
	&__author{
		display: flex;
		justify-content: center;
		@include use-text-style('body-title');
		font-weight: typography.$heading-weight;

			@media(--md){
				justify-content: left;
			}
	}
	&__header {
		position: sticky;
		padding: 30px 0 10px;
		align-items: center;
		display: flex;
		top:0;
		justify-content: center;
			@media(--md){
				justify-content: space-between;
			}

		&-items {
			display: flex;
			column-gap: 16px;
			align-items: center;
		}
	}

	&__stars {
		display: flex;
		column-gap: 4px;
	}

	&--mobile{
		display: block;
		display: flex;
		justify-content: center;
		@media(--md){
			display: none;
		}
		@media(--md){
			justify-content: left;
		}
	}

	&--desktop{
		display: none;
		@media(--md){
			display: block;
		}
	} 

	.swiper-navigations {
		display: flex;
		column-gap: 10px;
		flex-direction: row-reverse;
	}

	.swiper-navigation {
    	position: relative;
		left: unset;
		right: unset;
		top: unset !important;
		transform: none !important;
		svg {
			width: 36px;
			height: 36px;
		}
	}

	.swiper-pagination{
		transform: none !important;
		position: static;
		padding-top: 40px;
        padding-bottom: 30px;
		display: flex;
		align-items: center;
	}

	.swiper-pagination-bullet {
		background: colors.$gray-600;
		width: 10px;
		height: 10px;
		&-active {
			border: 0;
			width: 13px;
			height: 13px;
			background: colors.$red;
		}
	}
}

.landing-page-reviews__content::-webkit-scrollbar{
	width: 8px;
}

.landing-page-reviews__content::-webkit-scrollbar-track{
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}

.landing-page-reviews__content::-webkit-scrollbar-thumb{
	background: red; 
	border-radius: 10px;
}