@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';

predictive-search-result{
    .predictive-search{
            height: 500px;
            width: calc(100% + 40px);
            position: absolute;
            background: #fff;
            border: 1px solid #DADADA;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            overflow: auto;
            @media (max-width: 767px){
                height: 100vh;
                width: 100vh;
                position: relative;
                grid-template-columns: unset;
                grid-template-rows: 1fr 1fr;
            }
        .spinner{
            /*   for centering div */
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%);
              
            /*   spinner div css */
              height : 30px;
              width : 30px;
              border-radius : 50%;
            /*   background-color : red; */
              border : 5px solid #ccc;
              border-top-color : grey;
              animation : spin 1s linear infinite;
            }
            
            @keyframes spin{
              0%{
                transform : rotate(0deg);
              }
              100%{
                transform : rotate(360deg);
              }
            }
        &__categories{
            background: #DADADA;
            border-radius: 10px 0 0 10px;
        }
        &__category-block{
            padding: 20px;
        }
        &__category-title{
            font-size: typography.$heading-3-size;
            color: colors.$gray-500;
            text-transform: capitalize;
            font-weight: typography.$body-title-weight;
            margin-bottom: 0;
        }
        &__category-content{
            font-size: typography.$body-regular-size;
            list-style: none;
        }
    }
}

