@use 'StyleComponents/mixins';
@import 'breakpoints';

.product-reviews {
	margin-top: var(--section-margin);
	padding-top: var(--section-padding);

	&__container {
		.okeReviews {
			padding: 0;
		}
	}

	.okeReviews[data-oke-container].oke-w, div.okeReviews.oke-w{
		padding: 0 var(--section-padding);
		@media(--sm){
			padding: 0 calc(2*var(--section-padding));
		}
		@media(--md-large){
			padding:0;
		}
	}
}
