@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints'; 

.rebuy-cart__flyout-item {
    padding: 4px !important;  
}   

.rebuy-cart__flyout-header {
    padding: 0 var(--base-margin) !important;
    @media(--sm){
        padding: 5px var(--base-margin) !important;
    }
}

.rebuy-cart__progress-step-label{
    font-size: $body-small-size !important;
    @media(--sm){
        font-size: $body-regular-size !important;
    }
}

.rebuy-cart__flyout-body{
    display: block !important;
    overflow-y: auto !important;
}

.rebuy-cart__flyout-discount-form {
    height: 38px !important;
    @media(--sm){
        height: 48px !important;
    }
}

.rebuy-cart__flyout-discount-form .rebuy-input {
    padding: 7px 15px !important;
    @media(--sm){
        padding: 10px 15px !important;
    }
}

.rebuy-cart__progress-bar-container{
    padding: 7px !important;
    position: sticky;
    top: 0;
    z-index: 9;
    background: colors.$white ;
    @media(--sm){
        padding: 10 !important;
    }
}

.rebuy-cart__progress-bar-prompt{
    margin-top: 4px !important;
    font-size: $body-regular-size !important;
    @media(--sm){
        margin-top: 10px !important;
        font-size: $body-title-size !important;
    }
}

.rebuy-cart__flyout-item-buy-more-save-more-button-container .rebuy-button  {
    font-size: $body-regular-size !important;
    font-weight:  typography.$semi-weight !important;
}
.rebuy-bundle__actions-price-bundle-percentage {
    @include use-text-style('body-alt'); 
    margin-bottom: 8px;
    font-weight: typography.$semi-weight !important;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(--sm) {
        @include use-text-style('heading-3');
      }
    @media(--md) {
      @include use-text-style('heading-2');
    }
    &--value {
      @include use-text-style('body-alt');
      padding: 7px 10px;
      color: colors.$white;
      background: colors.$red;
      margin-left: 16px;;
      border-radius: 100px;
      @media(--md) {
          @include use-text-style('heading-3');
      }
    }
  }

  .rebuy-cart__flyout-discount-amount {
    display:  none !important;
  }
  
  
