@use 'StyleComponents/colors';
@use 'StyleComponents/mixins';
@import 'Token';
@import 'StyleComponents/breakpoints';

.rebuy-widget.product-card-widget  {
    margin-top: var(--section-margin);
    padding: var(--section-padding) 0 0;
    .splide__arrow  {
        top: 30%;
        transform: translateY(-50%);
        background: colors.$red !important;
        color: colors.$white !important;
        &--next {
            right: -20px !important;
          }
          &--prev {
            left: -20px !important;
          }

          svg {
            fill: currentColor !important;
              width: 15px !important;
              height: 15px !important;
          }
    }
    .splide__pagination {
        display: none !important;
    }
    .product-card  {
        @include mixins.container;
        padding:0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .product-card:not([aria-roledescription = "carousel"]) {
        .splide__list {
            @include mixins.product-grid;
            display: grid !important;
        }
        .product-card__body {
            width: 100% !important;
        }
    }

    .rebuy-product-block {
        &.product-card__body {
            padding-top:0 !important;
            padding-bottom:0 !important;
            padding:0 !important;
            margin-right: 27px;
            @media(--sm) {
                width: 30.5% !important;
            }
            @media(--md) {
                width: 18.5% !important;
            }
            .product-card__image img{
                height: 200px !important;
                @media(--sm) {
                height: 250px !important;
                }
                object-fit: contain;
                background-color: colors.$gray-300;
            }
        }
    }
}

