@use 'StyleComponents/colors';
@use 'StyleComponents/mixins';
@import 'Token';
@import 'StyleComponents/breakpoints';

.rebuy-widget {
    margin-top: var(--section-margin);
    padding: var(--section-padding) 0 0;
   &__wrapper {
    @include mixins.container;
   }

   .rebuy-timer-title {
    font-size: 20px !important;
   }
}

.widget-type-pre-purchase{
    .super-title{
        text-transform: lowercase;
    }
    .primary-title{
        font-size: $heading-3-size !important;
        span{
            color: colors.$red;
            background: none;
            margin-left: 0;
            padding: 0;
        }
    }
    .rebuy-product-price{
        display: block !important;
    }

    .rebuy-pre-purchase-actions{
        flex-direction: column;
        row-gap: 10px;
        @media(--sm){
            flex-direction: row;
            row-gap: 0;
        }
    }
    .rebuy-product-block {
        display: flex;
        flex-direction: column-reverse !important;
        @media(--sm){
            display: flex !important;
            flex-direction: row-reverse !important;

        }
    }
    .rebuy-product-media{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: inherit !important;
        @media(--sm) {
            width: 40%;
            margin: none;
            float: left !important;
        }
    }
    .rebuy-product-info, .rebuy-product-options, .rebuy-product-actions {
        width: 100% !important;
        @media(--sm){
            width: 60%;
        }
    }

    .rebuy-widget-content .rebuy-money {
        font-size: 16px !important;
        color: #e00 !important;
      }
      .rebuy-widget-content .rebuy-money {
        font-weight: 600;
        margin-right: 0.25em;
      }
      .rebuy-widget-content .compare-at {
        font-size: 16px !important;
        color: #000 !important;
      }
}

.rebuy-product-image.clickable img{
    height: 195px !important;
}

.widget-type-product-upsell{
    .rebuy-widget-content{
        .primary-title{
            text-align: center !important;
        }
    }
    .rebuy-product-info{
        display: grid !important;
    }
    .rebuy-product-price{
        justify-content: center;
        align-items: center;
        margin: 0 auto !important;
    }
}





