@use 'StyleComponents/mixins';
@use 'StyleComponents/typography';
@use 'StyleComponents/colors';
@import 'Token';
@import 'breakpoints';

.Review-carousel{
    .oke-reviewCarousel{
       margin-top: calc(2*var(--section-margin)) !important;
       margin-bottom: 0 !important;
        max-width: calc(1440px - 2 * var(--base-margin)) !important;
    }

    .oke-reviewCarousel-header{
        padding: 0 var(--section-padding) !important;
        @media(--sm){
            padding: 0 calc(2*var(--section-padding)) !important;
        }
        @media(--lg){
            padding: 0 !important;
        }
    }

    .oke-reviewCarousel-header-title{
        font-size: 20px !important;
        text-align: left;
        @media(--sm){
            font-size: 32px !important;
        }
    }

    .okeReviews{
        text-align: left;
    }

    .oke-product , .oke-reviewContent-title{
        @media(--sm){
            font-size: 16px !important;
        }
    }
}