@use 'accoutrement/sass/color';
@use './variables';

/*
Use 'color('token') to access the defined color

.border--dark {
    border: 1px solid color('primary-dark');
}

.text--error {
    color: color('secondary-red');
}

*/

$primary: (
    'primary-active': variables.$red,
    'primary-text': variables.$black
  );

$secondary: (
   'secondary-active': variables.$black,
   'secondary-text': variables.$white
);

$background: (
    //active
   'background-active': variables.$red,
   'background-text': variables.$white
    //passive
   'background-passive': variables.$white
   'background-passive-text': variables.$black
);

// merge everything into the main $colors map…
@include color.add-colors($primary, $secondary, $background);
