{{'app_block.css' | asset_url | stylesheet_tag }}

<div class="app_block">
  <div class="app">
    {% render 'section-heading', heading: section.settings.heading %}
    {% for block in section.blocks %}
      {% render block %}
    {% endfor %}
  </div>
</div>
  {% schema %}
    {
      "name": "App wrapper",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "blocks": [
        {
          "type": "@app"
        }
      ],
      "presets": [
        {
          "name": "App wrapper"
        }
      ]
    }
  {% endschema %}