{{
  'banner.css' | asset_url | stylesheet_tag
}}

{% assign carousel_exist = false %}
{% for block in section.blocks %} 
{% liquid 
 assign is_slider = block.settings.is_carousel_content
  if is_slider 
    assign carousel_exist = true
  endif
%}  
{% endfor %}

<div class="banner banner--desktop">
  <div class="banner__content">
    {% if carousel_exist %}
      <div class="banner__carousel banner__item"> 
        <custom-carousel>
          <div class="custom-carousel__content hide" data-carousel-content>
            {% for block in section.blocks %} 
            {% liquid 
              assign id = block.id
              assign color = block.settings.color
              assign eyebrow = block.settings.eyebrow
              assign heading = block.settings.heading
              assign subheading = block.settings.subheading
              assign cta_text = block.settings.cta_text
              assign cta_url = block.settings.cta_url
              assign is_slider = block.settings.is_carousel_content
              assign image_desktop = block.settings.image_desktop
              assign image_mobile = block.settings.image_mobile
              assign inline_heading = block.settings.inline_heading
            %}  
              {% if is_slider %}
                <div class="swiper-slide">
                {% render 'image-with-text-overlay', 
                  wrapper_class: "banner-content"
                  id: id,
                  color: color,
                  eyebrow: eyebrow,
                  heading: heading, 
                  subheading: subheading, 
                  cta_text: cta_text, 
                  cta_url: cta_url, 
                  image_desktop: image_desktop,
                  image_mobile: image_mobile,
                  text_wrapper_class: 'banner',
                  inline_heading: inline_heading,
                  desktop_aspect_ratio: 2.18,
                  mobile_aspect_ratio: 1.95,
                  fill: true
                  %}
                </div>
                {% endif %}
            {% endfor %}
          </div>
            <script type="text/json" data-settings>
              {
                "slidesPerView": 1,
                "spaceBetween": 15,
                "breakpoints": {
                  "320": {
                    "pagination": true
                  },
                  "768": {
                    "spaceBetween": 20,
                    "pagination": true
                  },
                  "1024": {
                    "navigation": true,
                    "pagination": true
                  }
                }
              }
            </script>
          </custom-carousel>
      </div>
    {% endif%}

     {% for block in section.blocks %} 
      {% liquid 
        assign id = block.id
        assign color = block.settings.color
        assign eyebrow = block.settings.eyebrow
        assign heading = block.settings.heading
        assign subheading = block.settings.subheading
        assign cta_text = block.settings.cta_text
        assign cta_url = block.settings.cta_url
        assign is_slider = block.settings.is_carousel_content
        assign image_desktop = block.settings.image_desktop
        assign image_mobile = block.settings.image_mobile
        assign inline_heading = block.settings.inline_heading
       

      %}     
        {% unless is_slider %}
          {% render 'image-with-text-overlay', 
            id: id,
            color: color,
            eyebrow: eyebrow,
            heading: heading, 
            subheading: subheading, 
            cta_text: cta_text, 
            cta_url: cta_url, 
            image_desktop: image_desktop,
            image_mobile: image_mobile,
            wrapper_class: 'banner__item',
            text_wrapper_class: 'banner',
            inline_heading: inline_heading,
            desktop_aspect_ratio: 2.27,
            mobile_aspect_ratio: 1.95,
            fill: true
            %}
        {% endunless %}
     {% endfor %}
  </div>
</div>

<div class="banner banner--mobile">
  <div class="banner__content">
    <div class="banner__carousel banner__item"> 
        <custom-carousel>
          <div class="custom-carousel__content hide" data-carousel-content>
            {% for block in section.blocks %} 
            {% liquid 
              assign id = block.id
              assign color = block.settings.color
              assign eyebrow = block.settings.eyebrow
              assign heading = block.settings.heading
              assign subheading = block.settings.subheading
              assign cta_text = block.settings.cta_text
              assign cta_url = block.settings.cta_url
              assign is_slider = block.settings.is_carousel_content
              assign image_desktop = block.settings.image_desktop
              assign image_mobile = block.settings.image_mobile
              assign inline_heading = block.settings.inline_heading
            %}  
              <div class="swiper-slide">
                {% render 'image-with-text-overlay', 
                  wrapper_class: "banner-content"
                  id: id,
                  color: color,
                  eyebrow: eyebrow,
                  heading: heading, 
                  subheading: subheading, 
                  cta_text: cta_text, 
                  cta_url: cta_url, 
                  image_desktop: image_desktop,
                  image_mobile: image_mobile,
                  text_wrapper_class: 'banner',
                  inline_heading: inline_heading,
                  desktop_aspect_ratio: 2.27,
                  mobile_aspect_ratio: 1.95,
                  fill: true
                  %}
                </div>
            {% endfor %}
          </div>
            <script type="text/json" data-settings>
              {
                "slidesPerView": 1,
                "spaceBetween": 15,
                "breakpoints": {
                  "320": {
                    "pagination": true
                  },
                  "768": {
                    "spaceBetween": 20,
                    "navigation": true,
                    "pagination": true
                  }
                }
              }
            </script>
          </custom-carousel>
      </div>
  </div>
</div>

{% schema %}
 {
   "name": "Banner",
   "settings": [],
   "blocks": [
    {
     "type": "image_with_text_overlay",
     "name": "Image with text overlay",
     "settings": [
      {
        "type": "header",
        "content": "Block Group"
      },
      {
        "type": "checkbox",
        "id": "is_carousel_content",
        "label": "Is Carousel Content ?",
        "default": false
      },

      {
        "type": "header",
        "content": "Block Contents"
      },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Url"
        }
     ]
    }
   ],
   "presets": [
    {
      "name": "Banner"
    }
   ]
 }

{% endschema %}