{{
  'banner.css' | asset_url | stylesheet_tag
}}
{{'image-text.css' | asset_url | stylesheet_tag}}

{% assign carousel_exist = false %}
{% for block in section.blocks %} 
{% liquid 
 assign is_slider = block.settings.is_carousel_content
  if is_slider 
    assign carousel_exist = true
  endif
%}  
{% endfor %}

<div class="banner">
  <div class="banner__content">
    {% if carousel_exist %}
      <div class="banner__carousel banner__item"> 
        <custom-carousel>
            {% for block in section.blocks %} 
            {% liquid 
              assign id = block.id
              assign color = block.settings.color
              assign eyebrow = block.settings.eyebrow
              assign heading = block.settings.heading
              assign subheading = block.settings.subheading
              assign cta_text = block.settings.cta_text
              assign cta_url = block.settings.cta_url
              assign is_slider = block.settings.is_carousel_content
              assign image_desktop = block.settings.image_desktop
              assign image_mobile = block.settings.image_mobile
            %}  
              {% if is_slider %}
                {% render 'image-with-text-overlay', 
                  wrapper_class: "swiper-slide"
                  id: id,
                  color: color,
                  eyebrow: eyebrow,
                  heading: heading, 
                  subheading: subheading, 
                  cta_text: cta_text, 
                  cta_url: cta_url, 
                  image_desktop: image_desktop,
                  image_mobile: image_mobile
                  %}
                {% endif %}
            {% endfor %}
            <script type="text/json" data-settings>
              {
                "slidesPerView": 1,
                "spaceBetween": 15,
                "breakpoints": {
                  "320": {
                    "pagination": true
                  },
                  "768": {
                    "spaceBetween": 20,
                    "navigation": true,
                    "pagination": true
                  }
                }
              }
            </script>
          </custom-carousel>
      </div>
    {% endif%}

     {% for block in section.blocks %} 
      {% liquid 
        assign id = block.id
        assign color = block.settings.color
        assign eyebrow = block.settings.eyebrow
        assign heading = block.settings.heading
        assign subheading = block.settings.subheading
        assign cta_text = block.settings.cta_text
        assign cta_url = block.settings.cta_url
        assign is_slider = block.settings.is_carousel_content
        assign image_desktop = block.settings.image_desktop
        assign image_mobile = block.settings.image_mobile

      %}     
        {% unless is_slider %}
          {% render 'image-with-text-overlay', 
            id: id,
            color: color,
            eyebrow: eyebrow,
            heading: heading, 
            subheading: subheading, 
            cta_text: cta_text, 
            cta_url: cta_url, 
            image_desktop: image_desktop,
            image_mobile: image_mobile,
            wrapper_class: 'banner__item'
            %}
        {% endunless %}
     {% endfor %}
  </div>
</div>


{% schema %}
 {
   "name": "Banner",
   "settings": [],
   "blocks": [
    {
     "type": "image_with_text_overlay",
     "name": "Image with text overlay",
     "settings": [
      {
        "type": "header",
        "content": "Block Group"
      },
      {
        "type": "checkbox",
        "id": "is_carousel_content",
        "label": "Is Carousel Content ?",
        "default": false
      },

      {
        "type": "header",
        "content": "Block Contents"
      },
        {
          "type": "checkbox",
          "id": "show_logo",
          "label": "Show Logo ?",
          "default": false
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "eyebrow",
          "label": "Eyebrow"
        },
        {
          "type": "text",
          "id":  "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id":  "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id":  "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id":  "cta_url",
          "label": "CTA Text"
        }
     ]
    }
   ],
   "presets": [
    {
      "name": "Banner"
    }
   ]
 }

{% endschema %}