{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

<script src="{{ 'common.js' | asset_url }}" defer></script>

{% style %}
  {% for block in section.blocks %}
      .collection-banner{
          background: {{ block.settings.background-color }};
      }
      {% if collection.description == blank %}
        .collection-banner__cta .btn-text{
          display: none;
        }
      {% endif %}
  {% endfor %}
{% endstyle %}

<div class="collection-banner">
  <div class="colection-collection-banner__content">
    {% for block in section.blocks %}
      {% liquid 
        assign desktop_image = block.settings.featured_image_desktop | default: block.settings.featured_image_mobile 
        assign mobile_image = block.settings.featured_image_mobile | default: block.settings.featured_image_mobile
        %}
      {% liquid
        assign id = block.id
        assign color = block.settings['font-color']
        assign heading = collection.title
        assign subheading = collection.description | truncate: 100
        assign image_desktop = desktop_image
        assign image_mobile = mobile_image
        assign background = block.settings['background-color']
        assign inline_heading = block.settings.inline_heading
        assign cta_text = block.settings.cta_text
        assign is_half_width = block.settings.full_width | default: false
        assign cta_url = block.settings.cta_url
        assign inline_cta = block.settings.inline_cta
      %}

      {% render 'image-with-text-overlay',
        id: id,
        color: color,
        heading: heading,
        subheading: subheading,
        image_desktop: image_desktop,
        image_mobile: image_mobile,
        wrapper_class: 'collection-banner-content',
        text_wrapper_class: 'collection-banner',
        inline_heading: inline_heading,
        desktop_aspect_ratio: 6.26,
        mobile_aspect_ratio: 2.24,
        inline_cta: inline_cta,
        cta_text: cta_text,
        cta_url: cta_url,
        contain: true,
        is_half_width: is_half_width
      %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "collection-banner",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "image_with_text_overlay",
      "name": "Image with text overlay",
      "settings": [
        {
          "type": "header",
          "content": "Block Group"
        },
        {
          "type": "image_picker",
          "id": "featured_image_desktop",
          "label": "Featured Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "featured_image_mobile",
          "label": "Featured Image Mobile"
        },
        {
          "type": "color",
          "id": "font-color",
          "label": "Font color"
        },
        {
          "type": "color",
          "id": "background-color",
          "label": "Background color"
        },
        {
          "type": "checkbox",
          "id":  "inline_cta",
          "label": "Inline button and subtext ?",
          "default": false
        },
        {
          "type": "header",
          "content": "Block Contents"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "collection-banner"
    }
  ]
}
{% endschema %}
