{{ 'line-breaker.css' | asset_url | stylesheet_tag }}

<div class="line-breaker"></div>

{% schema %}
 {
   "name": "Line-Breaker",
   "settings": [],
   "presets": [
    {
      "name": "Line Breaker"
    }
   ]
 }

{% endschema %}
