{{ 'mini-cart.css' | asset_url | stylesheet_tag }}

<div class="bundle-cart">

    <div class="bundle-cart__info">
      <bundle-cart> </bundle-cart>
    </div>
  </div>
    


{% schema %}
{
  "name": "Bundle cart",
  "settings": [],
  "presets": [
    {
      "name": "Bundle cart"
    }
  ]
}
{% endschema %}
