{{ 'featured-products.css' | asset_url | stylesheet_tag }}
<div class="featured-products">
    {% render 'section-heading', heading: section.settings.heading, url: collection.url %}
       <div data-wrapper>
        <product-carousel> </product-carousel>
        <script id="product-data" type="text/json">
          {
            "data": {% render 'JSON-output-product-carousel' , section: section %}
          }
        </script>
        <div>
    </div>
    </div>
</div>



{% schema %}
{
  "name": "product-carousel",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "url",
      "id": "url",
      "label": "View all url"
    },
    {
      "type": "checkbox",
      "id": "from_rebuy",
      "label": "From Rebuy ?",
      "default" : true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
            "type": "text",
            "id": "collection_text",
            "label": "Tab Text",
            "info": "required field"
        },
        {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "Leave blank for AI recommendation"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
