{{ 'featured-products.css' | asset_url | stylesheet_tag }}
<div class="featured-products">
    {% render 'section-heading', heading: section.settings.heading, url: section.settings.url %}
       <div data-wrapper>
        <product-carousel> </product-carousel>
        <script id="product-data" type="text/json">
          {
            "data": {% render 'JSON-output-product-carousel' , section: section %}
          }
        </script>
        <div>
    </div>
    </div>
</div>

{% schema %}
{
  "name": "product-carousel",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
            "type": "text",
            "id": "collection_text",
            "label": "Tab Text",
            "info": "required field"
        },
        {
          "type": "text",
          "id": "rule_id",
          "label": "Rebuy Rule ID"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
