{{ 'product-tabs.css' | asset_url | stylesheet_tag }}
<div class="product-block">
        <tab-section>
          <script id="tab-section-data" type="text/json">
            {
              "data": {% render 'JSON-section-product-description' , section: section %}
            }
          </script>
        </tab-section>
    </div>
    </div>
</div>

<script>
  function debounce(func, timeout = 1000){
    let timer;
    return (...args) => {
      clearTimeout(timer);
      timer = setTimeout(() => { func.apply(this, args); }, timeout);
    };
  }

const updateCurrentSelectedProductOnTabs = (variantId) => {
  if(window.custom?.svelte?.updateTabProps) {
    const productHandle = "{{ product.handle }}"
  const url = `/products/${productHandle}?variant=${variantId}&view=getUpdatedData`;
  (async () => {
   const responseData = await fetch(url);
   const updatedData = await responseData.text();
   window.custom?.svelte?.updateTabProps(updatedData);
  })();
  }
}


document.addEventListener('variant:changed', (event = {}) => {
 const {detail} = event;
 const variantId = detail.variant?.id; 
 debounce(updateCurrentSelectedProductOnTabs(variantId)); 
})
</script>



{% schema %}
{
  "name": "Product Description Info",
  "settings": [
  ],
  "blocks": [
    {
      "type": "description",
      "name": "description",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Product Description Info"
    }
  ]
}
{% endschema %}
