{{'diet-section.css' | asset_url | stylesheet_tag }}
<div class="diet-section">
    {% render 'section-heading', heading: section.settings.heading, url: section.settings.url %}
    <div class="diet-section__wrapper">
            <div class="diet-section__content"> 
                {% for block in section.blocks %} 
                {% liquid 
                    assign id = block.id
                    assign color = block.settings.color
                    assign subheading = block.settings.subheading
                    assign cta_text = block.settings.cta_text
                    assign cta_url = block.settings.cta_url
                    assign icon = block.settings.icon
                    assign icon_hover = block.settings.icon_hover
                %}
                {% render 'icon-text', 
                        wrapper_class: 'diet-section',
                        id: id,
                        color: color, 
                        subheading: subheading,
                        icon: icon,
                        icon_hover: icon_hover,
                        button_type: 'text',
                        button_background_type: 'transparent',
                        cta_text: cta_text,
                        cta_url: cta_url
                    %}
                {% endfor %}
            </div>
    </div>
</div>


{% schema %}
 {
   "name": "Diet - section",
   "settings": [
     {
       "type": "text",
       "id": "heading",
       "label": "Section Heading"
     },
     {
      "type": "url",
      "id": "url",
      "label": "View all url"
    }
   ],
   "blocks": [
    {
        "type": "diet",
        "name": "diet",
        "settings": [
         {
           "type": "header",
           "content": "Block Group"
         },
    
         {
           "type": "header",
           "content": "Block Contents"
         },
           {
               "type": "color",
               "id": "text_color",
               "label": "Text color"
           },
           {
            "type": "image_picker",
             "id": "icon",
             "label": "SVG Icon",
             "info": "Paste SVG html"
           },
           {
            "type": "image_picker", 
             "id": "icon_hover",
             "label": "Hover SVG Icon",
             "info": "Paste SVG html"
           },
           {
             "type": "text",
             "id": "subheading",
             "label": "Text"
           },
           {
             "type": "text",
             "id":  "cta_text",
             "label": "CTA Text"
           },
           {
             "type": "url",
             "id":  "cta_url",
             "label": "CTA Text"
           }
        ]
       }
    ],
   "presets": [
    {
      "name": "Diet-Section"
    }
   ]
 }

{% endschema %}