{{'health-condition-section.css' | asset_url | stylesheet_tag }}
<div class="health-condition-section">
    {% render 'section-heading', heading: section.settings.heading %}
    <div class="health-condition-section__wrapper">
         <div class="health-condition-section__content health-condition-section__content--desktop "> 
               {% for block in section.blocks %} 
               {% liquid 
                 assign id = block.id
                 assign eyebrow = block.settings.eyebrow
                 assign icon = block.settings.icon
                 assign url = block.settings.url
               %}
               {% render 'icon-text', 
                     wrapper_class: 'health-condition-section',
                     id: id,
                     eyebrow: eyebrow,
                     icon: icon,
                     cta_url: url
                  %}
               {% endfor %}
         </div>
         <div class="health-condition-section__content health-condition-section__content--mobile "> 
         <custom-carousel>
         {% for block in section.blocks %} 
         {% liquid 
           assign id = block.id
           assign eyebrow = block.settings.eyebrow
           assign icon = block.settings.icon
           assign icon_hover = block.settings.icon_hover
           assign url = block.settings.url
         %}
  
         {% render 'icon-text', 
               wrapper_class: 'health-condition-section',
               id: id,
               eyebrow: eyebrow,
               icon: icon,
               icon_hover: icon_hover,
               is_slider: true,
               cta_url: url
            %}
         {% endfor %}
         <script type="text/json" data-settings>
             {
               "slidesPerView": 3.01,
               "spaceBetween": 10,
               "overflowNagivation": true,
               "progressPagination": true,
               "pagination": true,
               "breakpoints": {
                "1024": {
                   "pagination": true,
                   "slidesPerView": 3.5,
                   "spaceBetween": 20
                 }
               }
             }
           </script>
     </custom-carousel>
   </div>
 </div>
</div>



{% schema %}
 {
   "name": "Health Condition",
   "settings": [
     {
       "type": "text",
       "id": "heading",
       "label": "Section Heading"
     }
   ],
   "blocks": [
    {
        "type": "health_condition",
        "name": "Health Condition",
        "settings": [
         {
           "type": "header",
           "content": "Block Group"
         },
    
         {
           "type": "header", 
           "content": "Block Contents"
         },
           {
            "type": "image_picker",
             "id": "icon",
             "label": "SVG Icon",
             "info": "Paste SVG html"
           },
           {
             "type": "text",
             "id": "eyebrow",
             "label": "Text"
           },
           {
            "type": "url",
            "id": "url",
            "label": "Url"
          }
        ]
       }
    ],
   "presets": [
    {
      "name": "Health Condition - Section"
    }
   ]
 }

{% endschema %}