/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/announcement-bar.scss ***!
  \********************************************************************************************************************************************************************************************************************************/
.announcement-bar.hidden {
  display: none !important;
}
.announcement-bar__aside-item {
  padding-left: 20px;
  border-left: 1px solid;
}
@media (min-width: 768px) {
  .announcement-bar__aside-item {
    padding-left: 50px;
  }
}
.announcement-bar__aside-item--localization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.announcement-bar__localization-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.announcement-bar__localization-form-item {
  margin-right: 20px;
}
.announcement-bar__localization-form-item:last-child {
  margin-right: 0;
}
.announcement-bar__localization-form-item .select-button {
  background: transparent;
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 500;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  padding: 0;
}
@media (min-width: 768px) {
  .announcement-bar__localization-form-item .select-button {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.announcement-bar__localization-form-item .select-button .arrow-rotate, .announcement-bar__localization-form-item .select-button .arrow--rotate {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.announcement-bar__localization-form-item .select-button[aria-expanded=true] .arrow-rotate, .announcement-bar__localization-form-item .select-button[aria-expanded=true] .arrow--rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.announcement-bar__localization-form-item .select-button svg {
  position: static;
  width: 18px;
  height: 18px;
  opacity: 1;
}
.announcement-bar__localization-form-item .select-button svg.block-icon {
  display: none;
}
@media (min-width: 1024px) {
  .announcement-bar__localization-form-item .select-button svg.block-icon {
    display: block;
  }
}
.announcement-bar__localization-form-item .value-picker {
  height: 100% !important;
}
.announcement-bar__localization-form-item .value-picker {
  top: 30px;
  bottom: auto;
  bottom: initial;
  z-index: 6;
  color: #000;
}
.announcement-bar__content {
  font-family: "poppins";
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .announcement-bar__content {
    font-family: "poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
  }
}
.announcement-bar__inner {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.announcement-bar .hide-desktop {
  display: block;
}
@media (min-width: 768px) {
  .announcement-bar .hide-desktop {
    display: none;
  }
}
.announcement-bar .hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .announcement-bar .hide-mobile {
    display: block;
  }
}
.announcement-bar .value-picker__inner {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
