/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/app_block.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
@media (min-width: 768px) {
  .text-image.sidebar-banner-content__text-image {
    grid-column: span 2;
    width: 100%;
  }
}

.text-image__text-wrapper.sidebar-banner-content__text-wrapper {
  top: auto;
  top: initial;
  bottom: 28px;
  -webkit-transform: none;
          transform: none;
}
@media (min-width: 1024px) {
  .text-image__text-wrapper.sidebar-banner-content__text-wrapper {
    bottom: 45px;
  }
}

.sidebar-banner__cta.text__cta,.sidebar-banner__eyebrow.text__eyebrow,.sidebar-banner__subheading.text__subheading {
  font-weight: 600 !important;
}

.sidebar-banner__cta.text__cta,.sidebar-banner__eyebrow.text__eyebrow,.sidebar-banner__subheading.text__subheading {
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .sidebar-banner__cta.text__cta,.sidebar-banner__eyebrow.text__eyebrow,.sidebar-banner__subheading.text__subheading {
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}

@media (min-width: 1024px) {
  .sidebar-banner__subheading.text__subheading {
    margin-top: 12px;
  }
}

.sidebar-banner__cta.text__cta {
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .sidebar-banner__cta.text__cta {
    margin-top: 28px;
  }
}

.text__heading.sidebar-banner__heading {
  font-weight: 700 !important;
}

.text__heading.sidebar-banner__heading {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 2px;
}
@media (min-width: 1024px) {
  .text__heading.sidebar-banner__heading {
    font-family: "poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.text__heading.sidebar-banner__heading br {
  display: none;
}
@media (min-width: 1024px) {
  .text__heading.sidebar-banner__heading br {
    display: block;
  }
}

.app_block {
  background: #f5f5f5;
}
.app_block .app {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--section-margin);
  padding: var(--section-padding) 0;
}
@media (min-width: 1440px) {
  .app_block .app {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
