/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/banner.scss ***!
  \**********************************************************************************************************************************************************************************************************************/
@media (min-width: 768px) {
  .banner {
    max-width: calc(100% - 2 * var(--base-margin));
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--section-margin);
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .banner {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .banner__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(90px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .banner__content {
    grid-auto-rows: minmax(150px, auto);
  }
}
@media (min-width: 1200px) {
  .banner__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(90px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
  }
}
@media (min-width: 1200px) and (min-width: 1024px) {
  .banner__content {
    grid-auto-rows: minmax(196px, auto);
  }
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .banner img {
    -o-object-fit: initial;
       object-fit: initial;
  }
}
.banner__item div:not(.banner-content__text-wrapper):not(.banner__text-wrapper):not(.content) {
  height: 100%;
}
.banner__carousel {
  position: relative;
}
@media (min-width: 768px) {
  .banner__item {
    grid-row: span 2;
  }
}
@media (min-width: 1024px) {
  .banner__item {
    grid-row: span 1;
  }
}
.banner__item:nth-of-type(1) {
  grid-column: span 3;
  grid-row: span 2;
}
@media (min-width: 768px) {
  .banner__item:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 4;
  }
}
@media (min-width: 1024px) {
  .banner__item:nth-of-type(1) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
.banner__text-wrapper {
  max-width: 151px;
}
.banner .banner__heading.text__heading {
  font-family: "poppins";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  font-weight: 600;
  line-height: 1;
}
.banner .banner__subheading.text__subheading {
  font-weight: 600;
  display: block;
}
@media (min-width: 1024px) {
  .banner .banner__subheading.text__subheading {
    display: inline;
    display: initial;
  }
}
.banner--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .banner--desktop {
    display: block;
  }
}
.banner--mobile {
  display: block;
}
@media (min-width: 1024px) {
  .banner--mobile {
    display: none;
  }
}
.banner .image--mobile.banner-content__image .responsive-image__image {
  border-radius: 0;
}
