/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/blog-banner.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
@media (min-width: 1024px) {
  .blog-post__banner {
    margin-top: var(--section-margin);
    padding-top: var(--section-padding);
    max-width: calc(100% - 2 * var(--base-margin));
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .blog-post__banner {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}

.blog-banner {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .blog-banner {
    margin-bottom: 40px;
  }
}
.blog-banner__text {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 28px;
  margin-top: 12px;
}
@media (min-width: 1440px) {
  .blog-banner__text {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .blog-banner__text {
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .blog-banner__text {
    max-width: 100%;
  }
}
.blog-banner__text .featured-articles__eyebrow.text__eyebrow {
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .blog-banner__text .featured-articles__eyebrow.text__eyebrow {
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
  }
}
.blog-banner__text .featured-articles__eyebrow.text__eyebrow .breadcrumb__seperator {
  width: 5px;
  height: 5px;
  background: #d9d9d9;
  border-radius: 50%;
}
.blog-banner__text .text__heading.featured-articles__heading {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .blog-banner__text .text__heading.featured-articles__heading {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .blog-banner__text .text__heading.featured-articles__heading {
    -webkit-line-clamp: 2;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .blog-banner__text .text__heading.featured-articles__heading {
    -webkit-line-clamp: 3;
  }
}
.blog-banner__text .featured-articles__cta.text__cta {
  color: #fff;
  padding: 9px 22px;
}
@media (min-width: 1024px) {
  .blog-banner__text .featured-articles__cta.text__cta {
    padding: 12px 32px;
    margin-top: 11px;
  }
}
@media (min-width: 1200px) {
  .blog-banner__text .featured-articles__cta.text__cta {
    margin-top: 24px;
  }
}
.blog-banner__text .featured-articles__text {
  padding-bottom: 28px !important;
}
@media (min-width: 768px) {
  .blog-banner__text .featured-articles__text {
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .blog-banner__content {
    display: grid;
    grid-template-columns: 2.15fr 1.85fr;
    grid-column-gap: 60px;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (min-width: 1024px) {
  .blog-banner .responsive-image__image {
    border-radius: 10px;
  }
}
.blog-banner .swiper-navigation {
  left: auto;
  left: initial;
  top: auto;
  top: initial;
  bottom: -45px;
}
.blog-banner .swiper-navigation--prev {
  left: var(--base-margin);
}
@media (min-width: 1024px) {
  .blog-banner .swiper-navigation--prev {
    left: auto;
    left: initial;
    right: 39%;
  }
}
@media (min-width: 1200px) {
  .blog-banner .swiper-navigation--prev {
    left: auto;
    left: initial;
    right: 41%;
  }
}
.blog-banner .swiper-navigation--next {
  left: calc(var(--base-margin) + 55px);
}
@media (min-width: 1024px) {
  .blog-banner .swiper-navigation--next {
    left: auto;
    left: initial;
    right: 30%;
  }
}
@media (min-width: 1200px) {
  .blog-banner .swiper-navigation--next {
    left: auto;
    left: initial;
    right: 35%;
  }
}
@media (min-width: 1024px) {
  .blog-banner .swiper-navigation {
    bottom: -34px;
  }
}
.blog-banner .swiper-navigation svg {
  width: 40px;
  height: 40px;
}
@media (min-width: 1024px) {
  .blog-banner .swiper-navigation svg {
    width: 40px;
    height: 40px;
  }
}
