.layout{
    margin-top: 23px;
    margin-bottom: 0 !important;
}
/* if something breaks uncomment overflow hidden */
/* #main{
    overflow-x: hidden;
} */
/* .logo-container {
    background: #F4E6DB;
} */
.logo-slider-flex .card__header {
   padding: 0;
}
.collection__header--brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collection__brand-logo-wrapper {
    margin-bottom: 45px;
    height: 70px;
}
.brand_collection_title.collection__title{
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}
.brand_collection_title.collection_description{
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 22px !important;
}
.testimonial-imagevide-wrap{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.collection__header img{
    width: 160px;
    margin-bottom: 35px;
}
.logo-slider-flex-desktop{
    display: block;
}
.logo-slider-flex-mobile{
    display: none;
}
@media(max-width:1000px){
    .collection__header--brand .collection__meta{
        display: flex;
        flex-direction: column;
    }
    .testimonial-imagevide-wrap{
        flex-direction: column;
    }
    .image-video-container{
        width: 100%;
        margin-left: 0;
    }
    /* klaviyo button css here */
    .kl-teaser-Rr74yr{
        width: 110px !important;
    }
    .kl-teaser-Rr74yr .go681896951.kl-private-reset-css-Xuajs1{
        padding: 2px !important;
        min-height: unset !important;
    }
    .kl-private-reset-css-Xuajs1.go3176171171 p span{
        font-size: 14px !important;
    }
}

.product-item__info .offer__badge{
    border-radius: 0 !important;
}

/* slick slider css */

.logo-slider-flex{
    display: flex;
    width: 100%;
}
.logo-container{
    flex: 1 0 36%;
    padding: 55px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.slider{
    width: 63%;
    margin-left: 20px;
    overflow:hidden;
    position: relative;
}
.hero-images img{
    width: 100%;
    height: 366px;
}
.text-on-image{
    position: absolute;
    top: 47%;
    left: 21%;
    transform: translate(-33%, -50%);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    width: 45%;
}
#dot{
    margin:0 auto;
    text-align:center;
    position: absolute;
    bottom: 34px;
    left: 48%;
}
.dot{
    display:inline-block;
    border-radius:50%;
    background:#D9D9D9;
    opacity: 0.5;
    padding:5px;
    margin:0 5px;
}

.breadcrumb-collection .container--flush .page__sub-header {
    margin: 10px 0
}

.collection__header--brand .collection__meta{
    display: flex !important;
    align-items: start !important;
}

@media(max-width:1270px){
    #dot{
        position: absolute;
        bottom: 19px;
    }
}
@media screen and (min-width: 768px){
    .brand_collection_title.collection__title {
        font-size: 24px !important;
        font-weight: 700 !important;
        line-height: 1.2 !important;
    }
}
@media screen and (min-width: 1200px){
    .brand_collection_title.collection__title {
        font-size: 30px !important;
        font-weight: 700 !important;
        line-height: 1.2 !important;
    }
}
@media screen and (min-width: 641px) {
    .collection__toolbar--bordered {
        margin-top: 0 !important;
        box-shadow: 0 0px var(--border-color), 0 1px var(--border-color) !important;
    }
}

@media(max-width:800px){
    .logo-slider-flex{
        flex-direction: column;
    }
    .logo-container , .slider{
        width: 100%;
    }
    .slider{
        margin-left: 0;
    }
    #dot{
        bottom: 3% !important;
    }
}

/* testimonial */
.rating-message {
    padding: 30px 30px 55px 30px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.review-message{
    font-size: 15px;
    font-weight: 400;
}

.review-message p {
    word-wrap: break-word;
}

.two {
    padding-bottom: 10px;
}

.two svg{
    height: 15px;
    width: 15px;
}

/* image and video section */
.testimonial-imagevide-wrap{
    display: flex;
    width: 100%;
}
.testimonial{
    flex: 1 0 36%;
    box-shadow: 0 0 10px #00000080;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    margin-right: 20px;
}
.image-video-container{
    display: flex;
    flex: 1 0 62%;
    column-gap: 20px;    
}
.review-message p:last-child {
    font-size: 14px;
    font-weight: 500 !important;
}
.video-item {
    margin: 0 !important;
}
.image-item, .video-item {
    box-shadow: 0 0 10px #00000080;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.image-item-text{
    position: absolute;
    font-weight: 600;
    top: 50%;
    color: #FFFFFF;
    line-height: 1.4;
    left: 29%;
    width: 51%;
    transform: translate(-50%, -50%);
}
.video-sec{
    position: relative;
    width: 100%;
}
.items{
    flex-basis: 50%;
}
.text-below-image{
    padding: 20px 25px;
    font-size: 15px;
    line-height: 22px;
}
.imagetext{
    padding:20px 25px;
}
.testimonial  .flickity-viewport{
    height: 100% !important;
  }
.video-control:not(.playing) .video-control-pause,
.video-control.playing .video-control-play {
	display: none;
}
.video-control{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    border-radius: 50%;
}
.image-flex-one{
    position: relative;
}
.image-flex-one img{
    height: 84%;
    width: 100%;
}
.video-flex-one img , .image-flex-one img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.logo-heading{
    display: none;
}
.testimonial .flickity-prev-next-button {
    opacity: 1 !important;
    bottom: 5px;
    top: 10% !important;
}

.testimonial.flickity-enabled:hover .flickity-prev-next-button:not([disabled]) {
    transform: scale(0.7);
}

.testimonial .previous{
    left: auto !important;
    right: 80px !important;
}

.testimonial .next{
    left: auto !important;
    right: 30px !important;
}

.play-btn{
    padding: 10px;
}
.testimonial .flickity-page-dots{
    display: none;
}
.product-item.product-item--list .grid-item-row-info{
    display: none;
}
.sliderimage-desktop{
    display: block;
}
.sliderimage-mobile{
    display: none;
}
@media(max-width:1200px){
    .testimonial .previous ,.testimonial .next{
        top: 8% !important;
    }
}
@media(max-width:1179px) and (min-width:641px){
    .image-item-text{
        left: 37%;
        width: 66%;
    }
    #video--container{
        padding-top: 24% !important;
    }
}
@media(max-width:768px){
    .image-video-container{
        padding: 0 10px 30px;
    }
    .testimonial-imagevide-wrap{
        margin-top: 10px;
    }
    .image-video-container{
        margin-top: 10px !important;
        padding-left: 10px !important;
    }
}
@media screen and (max-width: 641px){
    .testimonial_imagevide_parent .testimonial{
        box-shadow: none;
    }
}
@media(max-width:1000px){
    .collection__header--brand .collection__meta{
        display: flex;
        flex-direction: column;
    } 
    .testimonial-imagevide-wrap{
        flex-direction: column;
    }    
    .testimonial{
        width: 100%;
    }
    .image-video-container .items {    
        flex: 0 0 auto;
        white-space: normal;
        scroll-snap-align: start;
    }
        
    .image-video-container{
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-type: x mandatory;
        white-space: nowrap;
        padding: 0 20px 30px;
    }
    .image-item, .video-item {
        width: 90%;
    }
    .testimonial_imagevide_parent .image-video-container {
        padding-left: 0 !important;
    }
}
@media(max-width:641px){
    .sliding_images_container .sliding_images_content h2{
        width: 100%;
    }    
    .logo-container{
        padding: 20px;
    }    
    .video-part , .image-flex-one img{
        width: 100%;
        height: 179.05px;
        object-fit: cover;
    }
    .collection__brand-logo-wrapper {
        margin-bottom: 15px;
    }
    .testimonial .flickity-page-dots{
        display: block;
    }
    .testimonial .flickity-prev-next-button{
        display: none !important;
    }
    .flickity-page-dots .dot.is-selected{
        background: #ED1C24 !important;
        opacity: 1;
    }
    .testimonial .flickity-page-dots{
        bottom: 29px !important;
    }
    .product-item.product-item--list .grid-item-row-info{
        display: inline-block ;
    }
    .product-item.product-item--list .grid-item-row-info:empty{
        display: none ;
    }
    .sliderimage-desktop{
        display: none;
    }
    .sliderimage-mobile{
        display: block;
    }
    .logo-slider-flex-desktop{
        display: none;
    }
    .logo-slider-flex-mobile{
        display: block;
    }
}
@media(max-width:520px){
    .collection__title{
        font-size: 12px !important;
    }
    .hero-images img{
        height: 240px !important;
    }
    .text-on-image{
        font-size: 16px !important;
        line-height: 24px !important;
    }
    #dot{
        left: 44%;
    }
    .testimonial{
        height: 283px;
        text-align: center;
    }
    .review-message p{
        font-size: 11px;
    }
    .two{
        padding-bottom: 10px !important;
    }
    .image-item-text{
        font-size: 14px;
    }
    .text-below-image{
        font-size: 12px;
    }
    #size-chart {
        width: 80% !important;
        top: 40%;
    }
    .collection__header img{
        width: 120px;
        margin-bottom: 15px;
    }
    #size-chart .close{
        width: 30px;
        height: 30px;
        line-height: 37px;
    }
    #size-chart .close svg{
        width: 20px;
        height: 20px;
        display: inline-block;
    }
}

.slick-track{
    display: flex;
}

#video--container{
    display: none;
    position: fixed !important;
    z-index: 999999 !important;
    padding-top: 12%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
  }
  #size-chart{
    position: relative;
    margin: auto;
    width: 60%;
    animation-name: animatecenter;
    animation-duration: 0.4s;
  
  }

  .close{
    font-size: 23px;
    font-weight: bold;
    float:right;
    background: #FFFFFF;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 40px;
    height: 40px;
    z-index: 1;
    text-align: center;
    line-height: 48px;
    border-radius: 30px;
    cursor: pointer;
  }
  .video-part{
    width: 100%;
  }

  @-webkit-keyframes animatecenter {
    from {center:-300px; opacity:0} 
    to {center:0; opacity:1}
    }
    
    @keyframes animatecenter {
    from {center:-300px; opacity:0}
    to {center:0; opacity:1}
    }
/* Collections Genius Gourment */
.sliding_images_parent{
    flex: 1 0 62%;
    margin-left: auto;
}
.sliding_images_parent .flickity-viewport{
    height: 100% !important;
}
.sliding_images_container{
    height: 100%;
    width: 100%;
}
.sliding_images_container .sliding_images_content{
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    padding-left: 30px;
    line-height: 42px;
}
.sliding_images_container .sliding_images_content h2{
    width: 50%;
}

.sliding_images_parent .flickity-page-dots .dot.is-selected {
    background: red;
    opacity: 1;
}

.sliding_images_parent .flickity-page-dots{
    bottom: 20px;
}

.sliding_images_parent .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    margin: 0 8px;
    background: #ffffff;
    border: 1px solid #ffffff;
    transform: none !important;
    transition: background .25s;
}
.layout.collection__toolbar_mt .collection__toolbar{
    margin-top: 0;
}
@media screen and (min-width: 801px){
    .logo-container{
        margin-right: 20px;
    }
}
@media screen and (max-width: 800px){
    /* Image Sliding Flickity Container */
    .sliding_images_parent{
        width: 100%;
        height: 200px;
        flex: 1 0 100%;
    }
    .sliding_images_parent .flickity-viewport{
        height: 250px !important;
    }
    .sliding_images_container .sliding_images_content{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background-size: cover;
    }
    /* Testimonials Flickity Container */
    .testimonial .flickity-viewport{
        height: 300px;
    }
}

@media screen and (max-width: 480px){
    .sliding_images_parent{
        height: 200px;
    }

    .sliding_images_container .sliding_images_content {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background-size: cover;
    }

    .testimonial-imagevide-wrap .flickity-viewport{
        height: 243px !important;
    }

   .logo-slider-flex .sliding_images_parent .flickity-viewport{
        height: 180px !important;
    }

    /* .sliding_images_parent.slider_height .flickity-viewport{
        max-height: 300px;
    } */
}

@media screen and (min-width:481px) and (max-width:1000px){
    .testimonial_imagevide_parent .flickity-enabled.is-draggable .flickity-viewport{
        height: 300px !important;
    }
}
@media(max-width:768px)and(min-width:425px){
    #video--container{
        padding-top: 38% !important;
    }
}
/* @media(max-width:339px){
    .sliding_images_container .sliding_images_content{
        background-size: contain;
    }
} */

/* span.metafield-multi_line_text_field{
   word-break: break-all;
} */

@media screen and (min-width: 1001px) and (max-width: 1199px){
    .collectionBrandContainer .logo-container{
        padding: 0 40px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1001px ){
    .collectionBrandContainer .logo-slider-flex .card__header .collection__header-inner {
        height: 100px;
        overflow: auto;
    }
}

.title-hide{
    visibility: hidden;
    height: 0;
}

.page__sub-header{
    display: block !important;
    margin: 23px 20px !important;
}

.breadcrumb__list{
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    flex-wrap: nowrap !important;
}

.breadcrumb__link[aria-current="page"]{
    font-weight: 600;
}

@media(min-width: 768px){
    .page__sub-header{
        margin: 23px 0px !important;
    }
    .breadcrumb__list{
        font-family: poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
    }
}