/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/collection-banner.scss ***!
  \*********************************************************************************************************************************************************************************************************************************/
.collection-banner {
  margin-top: var(--section-content-margin);
  border-radius: 10px;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .collection-banner {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
.collection-banner .collection-banner-content__image--mobile {
  width: 50%;
  max-width: 100%;
}
.collection-banner .collection-banner-content__image--desktop {
  max-width: 532px;
  width: 100%;
  height: 100%;
}
.collection-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 74%;
     object-position: 74%;
}
.collection-banner__text-wrapper {
  max-width: 61%;
}
@media (min-width: 390px) {
  .collection-banner__text-wrapper {
    max-width: 48%;
  }
}
@media (min-width: 768px) {
  .collection-banner__text-wrapper {
    max-width: 40%;
  }
}
@media (min-width: 1024px) {
  .collection-banner__text-wrapper {
    max-width: 51%;
  }
}
@media (min-width: 1200px) {
  .collection-banner__text-wrapper {
    max-width: 60%;
  }
}
.collection-banner .collection-banner__heading.text__heading {
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (min-width: 390px) {
  .collection-banner .collection-banner__heading.text__heading {
    font-family: "poppins";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .collection-banner .collection-banner__heading.text__heading {
    font-family: "poppins";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .collection-banner .collection-banner__heading.text__heading {
    font-family: "poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 19px;
  }
}
.collection-banner .collection-banner__subheading.text__subheading {
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 400;
}
@media (min-width: 768px) {
  .collection-banner .collection-banner__subheading.text__subheading {
    font-family: "poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }
}
@media (min-width: 1024px) {
  .collection-banner .collection-banner__subheading.text__subheading {
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}
@media (min-width: 1024px) {
  .collection-banner .collection-banner__subheading.text__subheading {
    display: inline;
    display: initial;
  }
}
.collection-banner .collection-banner-content__text-image.text-image {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.collection-banner .collection-banner-content__image-wrapper.text-image__image-wrapper {
  max-width: 50%;
  width: 100%;
}
.collection-banner .collection-banner__cta.button {
  background: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  margin-top: 0;
  padding: 0;
}
