/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/collection.scss ***!
  \**************************************************************************************************************************************************************************************************************************/
.collection-product-grid-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: sticky;
  top: calc(var(--header-height) - 36px);
  background-color: #fff;
  z-index: 4;
  padding: 0.5rem 0;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .collection-product-grid-header {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .collection-product-grid-header {
    top: calc(var(--header-height) + var(--announcement-bar-height-sticky));
  }
}
.collection__sort .dropdown {
  position: relative;
  cursor: pointer;
}
.collection__sort .dropdown__selected {
  cursor: pointer;
}
.collection__sort .dropdown + .__collection-dropdown-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media (min-width: 1024px) {
  .collection__sort .dropdown + .__collection-dropdown-overlay {
    display: none;
  }
}
.collection__sort .dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .collection__sort .dropdown__header {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__header {
    display: none;
  }
}
.collection__sort .dropdown__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1019607843);
  z-index: 4;
  background-color: #fff;
  -webkit-transition: none;
  transition: none;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__container {
    position: absolute;
    width: auto;
    height: auto;
    top: calc(100% + 10px);
    left: auto;
    right: -25px;
    bottom: auto;
    min-width: 160px;
    -webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: var(--secondary-background);
    color: var(--text-color);
    z-index: 4;
    cursor: auto;
    border-radius: 3px;
    -webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    will-change: transform;
  }
}
.collection__sort .dropdown__container[aria-hidden=false] {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__container[aria-hidden=false] {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1.001);
            transform: scale(1.001);
    -webkit-transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
  }
}
.collection__sort .dropdown__container[aria-hidden=true] + .dropdown__collection-dropdown-overlay {
  display: none;
}
.collection__sort .dropdown__container + .dropdown__collection-dropdown-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__container + .dropdown__collection-dropdown-overlay {
    display: none;
  }
}
.collection__sort .dropdown .value-picker-button svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.collection__sort .dropdown__items {
  padding-top: 15px;
  padding-bottom: 15px;
}
.collection__sort .dropdown__item {
  white-space: nowrap;
  padding: 5px 25px;
}
.collection__sort .dropdown__item:hover {
  color: #ED1C24;
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__item {
    padding: 2px 25px;
  }
}
.collection__sort .dropdown__item.is-selected {
  color: var(--accent-color);
  font-weight: var(--text-font-bolder-weight);
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__item.is-selected {
    background: var(--accent-background);
  }
}
.collection__sort .dropdown__item:nth-child(2) {
  padding-top: 1rem;
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__item:nth-child(2) {
    padding-top: 2px;
  }
}
.collection__sort .dropdown__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  cursor: pointer;
}
.collection__sort .dropdown__selected-value {
  display: none;
}
@media (min-width: 1024px) {
  .collection__sort .dropdown__selected-value {
    display: block;
  }
}
.collectiontoolbar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.collection_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
.collection_pagination span {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 600;
}
.collection_pagination__button {
  display: none;
}
@media (min-width: 1024px) {
  .collection_pagination__button {
    display: inline-block;
  }
}
.collection_pagination_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
}
.collection_pagination_count__current {
  cursor: pointer;
}
.collection_pagination_count__current span {
  font-size: 12px;
  padding: 5px 11px;
}
@media (min-width: 1024px) {
  .collection_pagination_count__current span {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .collection_pagination_count__current span:hover {
    color: #ED1C24;
    background-color: #fff;
  }
}
.collection_pagination_count__total {
  cursor: pointer;
}
.collection_pagination_count__total span {
  font-size: 12px;
  padding: 5px 11px;
}
@media (min-width: 1024px) {
  .collection_pagination_count__total span {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .collection_pagination_count__total span:hover {
    color: #ED1C24;
    background-color: #fff;
  }
}
.collection-filter-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (min-width: 1024px) {
  .collection-filter-wrapper {
    position: static;
    display: block;
    background: #fff;
    overflow: visible;
    overflow: initial;
  }
}
.collection-filter-wrapper[data-drawer-open=false] {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (min-width: 1024px) {
  .collection-filter-wrapper[data-drawer-open=false] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.collection-filter-wrapper[data-drawer-open=false] + .collection-filter-drawer-overlay {
  display: none;
}
.collection-filter-wrapper + .collection-filter-drawer-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media (min-width: 1024px) {
  .collection-filter-wrapper + .collection-filter-drawer-overlay {
    display: none;
  }
}
.collection-filter-inner {
  background-color: #fff;
}
.collection-filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-height: 64px;
  padding: 15px;
  display: block;
}
@media (min-width: 1024px) {
  .collection-filter-header {
    display: none;
    padding: 0;
    padding: initial;
  }
}
.collection-filter-contents {
  padding: 0 20px;
}
.collection-filter-contents .filter_selectedFilterItem {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection-filter-products-count {
  display: none;
}
@media (min-width: 1024px) {
  .collection-filter-products-count {
    display: block;
  }
}

.custom_filter_header {
  margin: 1rem 0;
}
@media (min-width: 1024px) {
  .custom_filter_header {
    padding: 0 1rem;
  }
}
.custom_filter_header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-transform: capitalize;
  padding: 10px 0;
  font-weight: bold;
  margin-bottom: 0;
}
.custom_filter_header .header .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 5px;
}
.custom_filter_header .details {
  background-color: #fff;
  max-height: 300px;
  overflow: auto;
}

.custom-filter {
  border-radius: 3px;
  background: var(--secondary-background);
  width: 288px;
  margin: 0;
}
@media (min-width: 1024px) {
  .custom-filter {
    margin: 0 15px;
    border: 1px solid var(--border-color);
  }
}
.custom-filter_wrap {
  padding: var(--section-margin);
}
.custom-filter_list_h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: var(--section-margin);
  padding-bottom: 5px;
  width: auto;
}
.custom-filter_list_h3 ::before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #000;
  display: inline-block;
  margin: 0 10px -2px 0;
}
.custom-filter_list-value {
  cursor: pointer;
  margin: 7px 0 6px;
  padding: 0 8px;
  list-style: none;
  line-height: 24px;
  padding-left: 30px;
}
.custom-filter_button-checkbox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  background: 0 0;
  display: inline-block;
  position: absolute;
  left: 9px;
  top: 4px;
}
.custom-filter_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-filter {
  padding: 1rem 1.4rem;
  margin: 0;
}
.custom-filter .icon {
  height: 10px;
  width: 10px;
  background-color: #000;
  margin-right: 5px;
}
.custom-filter .head {
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}
.custom-filter .details {
  max-height: 300px;
  overflow: auto;
}
.custom-filter .details label {
  accent-color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-filter .details label input + div {
  text-transform: capitalize;
}
.custom-filter .details label input:checked + div {
  font-weight: 700;
}
.custom-filter_heading {
  font-family: "poppins";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
}

.active-pagination {
  color: #fff;
  background-color: #ED1C24;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.layout__section--secondary {
  min-width: 260px;
  width: auto;
  width: initial;
  max-width: 320px;
}

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.skeleton-box.product-card__image {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}
.skeleton-box.product-card__header {
  width: 25%;
  margin-left: auto;
  margin-right: 0;
}
.skeleton-box.product-card__footer {
  width: 40%;
  height: 1.5rem;
}
.skeleton-box.layout__section.layout__section--secondary {
  display: none;
}
@media (min-width: 768px) {
  .skeleton-box.layout__section.layout__section--secondary {
    display: block;
    height: 100rem;
  }
}
.skeleton-box.collection-skeleton-header {
  height: 1rem;
  width: 25%;
}

.dropdown__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_selectedFilterItem {
  padding: 1rem 1.4rem;
  border: 1px solid #000;
  border-bottom: none;
}
