/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/collection-category-list.scss ***!
  \****************************************************************************************************************************************************************************************************************************************/
.category-list {
  padding-top: var(--section-padding);
  margin-top: var(--section-margin);
}
@media (min-width: 1024px) {
  .category-list__wrapper {
    max-width: calc(100% - 2 * var(--base-margin));
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .category-list__wrapper {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
.category-list__card {
  padding: 20px;
  border: 1px solid #DADADA;
  border-radius: 19px;
}
@media (min-width: 1024px) {
  .category-list__card {
    padding: 26px 15px;
  }
}
.category-list__card:hover {
  border-color: #ED1C24;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
  cursor: pointer;
}
.category-list__card:hover .category-list__break-line::before {
  width: 100%;
}
@media (min-width: 1024px) {
  .category-list__card-content {
    padding: 0 20px;
  }
}
.category-list__block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category-list__title {
  margin-top: 20px;
  font-family: "poppins";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .category-list__title {
    font-family: "poppins";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.category-list__break-line {
  height: 1px;
  background: #DADADA;
  margin: var(--section-content-margin) 0;
  display: block;
  position: relative;
}
.category-list__break-line::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 200%;
  background: #ED1C24;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
  display: block;
}
.category-list__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .category-list__submenu-wrapper {
    padding: 0 20px;
  }
}
.category-list__menu-item:hover {
  color: #ED1C24;
}
.category-list .swiper-initialized {
  padding-left: var(--base-margin);
  padding-right: var(--base-margin);
}
@media (min-width: 1024px) {
  .category-list .swiper-initialized {
    padding-left: 0;
    padding-right: 0;
  }
}
