/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/custom-filter.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.icon-text {
  border: 1px solid #DADADA;
  border-radius: 10px;
  text-align: center;
}

.custom-filter {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  background: var(--secondary-background);
  width: 288px;
  margin: 0;
}
@media (min-width: 1024px) {
  .custom-filter {
    margin: 0 15px;
  }
}
.custom-filter_wrap {
  padding: var(--section-margin);
}
.custom-filter_list_h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: var(--section-margin);
  padding-bottom: 5px;
  width: auto;
}
.custom-filter_list_h3 ::before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #000;
  display: inline-block;
  margin: 0 10px -2px 0;
}
.custom-filter_list-value {
  cursor: pointer;
  margin: 7px 0 6px;
  padding: 0 8px;
  list-style: none;
  line-height: 24px;
  padding-left: 30px;
}
.custom-filter_button-checkbox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  background: 0 0;
  display: inline-block;
  position: absolute;
  left: 9px;
  top: 4px;
}
