/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/featured-brands.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
.featured-brand-section {
  margin-top: var(--section-margin);
  padding: var(--section-padding) 0 0;
}
@media (min-width: 1024px) {
  .featured-brand-section__wrapper {
    max-width: calc(100% - 2 * var(--base-margin));
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .featured-brand-section__wrapper {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
.featured-brand-section__item {
  border: 1px solid #DADADA;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
@media (min-width: 1024px) {
  .featured-brand-section__item {
    padding: 20px;
  }
}
.featured-brand-section__item:hover {
  border-color: #ED1C24;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
  cursor: pointer;
}
.featured-brand-section .responsive-image__wrapper {
  margin-left: auto;
  margin-right: auto;
}
.featured-brand-section__content-wrapper--desktop {
  display: none;
}
@media (min-width: 1200px) {
  .featured-brand-section__content-wrapper--desktop {
    display: block;
  }
}
.featured-brand-section__content-wrapper--mobile {
  display: block;
}
@media (min-width: 1200px) {
  .featured-brand-section__content-wrapper--mobile {
    display: none;
  }
}
.featured-brand-section .carousel-placeholders {
  height: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (min-width: 768px) {
  .featured-brand-section .carousel-placeholders {
    grid-template-columns: repeat(5, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (min-width: 1024px) {
  .featured-brand-section .carousel-placeholders {
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.featured-brand-section .carousel-place {
  display: contents;
}
.featured-brand-section .carousel-place div {
  background: #f5f5f5;
  height: 75px;
  width: 100%;
}
.featured-brand-section .swiper-initialized {
  padding-left: var(--base-margin);
  padding-right: var(--base-margin);
}
@media (min-width: 1024px) {
  .featured-brand-section .swiper-initialized {
    padding-left: 0;
    padding-right: 0;
  }
}
.featured-brand-section .swiper-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.featured-brand-section .swiper-navigation {
  top: 55%;
}
