/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/header.scss ***!
  \**********************************************************************************************************************************************************************************************************************/
#shopify-section-header {
  z-index: 9999 !important;
}

.header {
  padding: 0;
  margin-bottom: 45px;
  background: #fff;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}
.header .icon--close {
  width: 16px;
  height: 16px;
}
.header .icon--arrow-right {
  width: 20px;
  height: 20px;
}
.header__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  padding: var(--header-padding) 0;
  width: 100%;
}
@media (min-width: 1440px) {
  .header__inner {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
.header__mobile-nav {
  margin-right: 0;
}
.header__action-list {
  margin-left: 0;
  -webkit-column-gap: var(--grid-column-gap);
     -moz-column-gap: var(--grid-column-gap);
          column-gap: var(--grid-column-gap);
}
.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 1024px) {
  .header__logo {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}
.header__cart-count {
  color: #ED1C24;
  font-size: 8px;
  padding: 2px;
  right: -2px;
  top: -3px;
}
.header .mobile-menu {
  margin-left: calc(var(--base-margin) * -1);
  padding-left: var(--base-margin);
  padding-right: var(--base-margin);
  padding: 0 var(--section-heading-margin) var(--base-margin) var(--base-margin);
  background: #fff;
  max-width: 90%;
  z-index: 100;
}
.header .mobile-menu__section {
  padding: var(--base-margin) 0;
}
.header .mobile-menu .mobile-menu__back-button,
.header .mobile-menu .mobile-menu__nav-link {
  padding: var(--nav-vertical-padding) 0;
}
.header .mobile-menu .mobile-menu__back-button,
.header .mobile-menu .mobile-menu__nav-link,
.header .mobile-menu .mobile-menu__nav-list-item {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
}
.header .mobile-menu__nav-list-toggle {
  padding: var(--nav-vertical-padding) 0;
}
.header .mobile-menu__nav-list-toggle[aria-expanded=true] {
  color: #ED1C24;
}
.header .mobile-menu__nav-list-toggle--link {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.header .mobile-menu .mobile-menu__nav-list-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .mobile-menu .mobile-menu__nav-list-toggle svg {
  width: 18px;
  height: 18px;
}
.header .mobile-menu__nav-link--special {
  color: #ED1C24;
}
.header .mobile-menu__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 99%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header .mobile-menu__panel.is-nested {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header .mobile-menu .mobile-menu__section:not(:last-child) {
  border: 0;
}
.header .mobile-menu__section-title {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
}
.header .mobile-menu__help-wrapper {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.header .mobile-menu__panel.is-nested .mobile-menu__nav-link {
  margin-bottom: 10px;
  padding: 0;
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}
.header .mobile-menu__panel.is-nested .mobile-menu__nav-item:last-child .mobile-menu__nav-link {
  color: #000;
}
.header .mobile-menu__back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .mobile-menu__back-button svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 0;
  margin-right: 10px;
}
.header .mobile-menu__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header .mobile-menu__account-wrapper {
  padding: var(--base-margin) 0;
}
.header .mobile-menu__nav-collapsible-content .mobile-menu__nav-list-item {
  padding-left: var(--base-margin);
}
.header .popover__inner {
  padding: 0;
}
@media (min-width: 1024px) {
  .header .popover__inner {
    padding: 10px var(--base-margin);
  }
}
.header__action-item-link--search {
  line-height: 1;
  padding-top: 3px;
}
.header-account {
  cursor: pointer;
}
.header-account__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__action-item {
  padding: 0;
}
.header__action-item-content[aria-expanded=true] .icon--arrow-right {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.header__action-item-content--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__action-item-content--flex .icon--arrow-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header__action-item--account {
  cursor: pointer;
  display: none;
}
@media (min-width: 1024px) {
  .header__action-item--account {
    display: block;
  }
}
.header__cart-icon {
  line-height: 1;
}

.megamenu--mobile {
  background: #fff;
  top: 60px;
}
@media (min-width: 1024px) {
  .megamenu--mobile {
    display: none;
  }
}
.megamenu--hidden {
  display: none !important;
}
.megamenu__wrapper {
  padding-bottom: 40px;
}
.megamenu__menu-wrapper {
  margin-bottom: 28px;
}
.megamenu .megamenu-content__text-wrapper.text-image__text-wrapper {
  bottom: 24px;
  top: auto;
  top: initial;
  -webkit-transform: none;
          transform: none;
}
@media (min-width: 1024px) {
  .megamenu .megamenu-content__text-wrapper.text-image__text-wrapper {
    padding: 0 var(--grid-row-gap-large);
  }
}
.megamenu .megamenu__cta.text__cta {
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 600;
  padding: 12px 20px;
  margin-top: 10px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  top: var(--announcement-bar-height);
}
.overlay--active {
  display: block;
}

.header__search-bar-wrapper--desktop {
  display: none !important;
}
@media (min-width: 768px) {
  .header__search-bar-wrapper--desktop {
    display: block !important;
  }
}
.header__search-bar-wrapper--mobile {
  display: block !important;
}
.header__search-bar-wrapper--mobile {
  z-index: 2;
}
@media (min-width: 768px) {
  .header__search-bar-wrapper--mobile {
    display: none !important;
  }
}

.header__search-bar-wrapper {
  padding: 0;
}
@media (min-width: 768px) {
  .header__search-bar-wrapper {
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .header__search-bar-wrapper {
    max-width: 650px;
  }
}
.header__search-bar-wrapper .search-bar {
  padding: 0;
}
.header__search-bar-wrapper .search-bar__top {
  padding: 0 10px;
  border-radius: 10px;
  background: #f5f5f5;
}
.header__search-bar-wrapper .search-bar__input {
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}
.header__search-bar-wrapper .search-bar__input::-webkit-input-placeholder {
  color: #DADADA;
}
.header__search-bar-wrapper .search-bar__input::-moz-placeholder {
  color: #DADADA;
}
.header__search-bar-wrapper .search-bar__input:-ms-input-placeholder {
  color: #DADADA;
}
.header__search-bar-wrapper .search-bar__input::-ms-input-placeholder {
  color: #DADADA;
}
.header__search-bar-wrapper .search-bar__input::placeholder {
  color: #DADADA;
}
.header__search-bar-wrapper .search-bar__close-button {
  width: 18px !important;
  height: 18px !important;
}
.header__search-bar-wrapper .search-bar__close-button {
  margin-right: 18px;
}
.header__search-bar-wrapper.is-fixed {
  background: #DADADA;
}
.header__search-bar-wrapper.is-fixed .search-bar__top-wrapper {
  background: #fff;
  padding: 14px var(--base-margin);
}
@media (min-width: 1024px) {
  .header__search-bar-wrapper.is-fixed .search-bar__top-wrapper {
    padding: 0;
  }
}
.header__search-bar-wrapper.is-fixed .search-bar {
  padding: 0;
}

.nav-dropdown__item.has-mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mega-menu {
  position: absolute;
  width: 100%;
  border: 0;
  top: 0;
  left: 30%;
  width: 70%;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .mega-menu {
    left: 25%;
    width: 75%;
  }
}
@media (min-width: 1440px) {
  .mega-menu {
    left: 20%;
    width: 80%;
  }
}
@media (min-width: 1600px) {
  .mega-menu {
    left: 20%;
    width: 90%;
  }
}

.nav-dropdown {
  background: #f5f5f5;
  padding: 0;
  border: 0;
}
.nav-dropdown--megamenu {
  min-height: 50vh;
  overflow: auto;
}
.nav-dropdown__link {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 600;
  width: 100%;
  padding: 20px var(--base-margin);
}
.nav-dropdown__link[aria-expanded=true] {
  background: #fff;
}
.nav-dropdown__link svg {
  margin: 0;
  width: 18px;
  height: 18px;
}
.nav-dropdown__item {
  width: 30%;
  max-width: 310px;
}
.nav-dropdown__item.active, .nav-dropdown__item:hover {
  background: #fff;
}

.nav-dropdown:not(.nav-dropdown--floating) {
  left: 0;
}

@media (min-width: 1024px) {
  .megamenu {
    height: 50vh;
    overflow: auto;
    padding: var(--grid-row-gap-large) 0;
  }
  .megamenu__wrapper {
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    padding-right: var(--base-margin);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .megamenu__menu-wrapper {
    grid-auto-rows: minmax(20px, -webkit-max-content) !important;
    grid-auto-rows: minmax(20px, max-content) !important;
  }
  .megamenu__menu-wrapper {
    width: 70%;
    max-width: 755px;
    padding: 0 var(--grid-row-gap-large);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(20px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .megamenu__menu-wrapper {
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (min-width: 1024px) and (min-width: 1200px) {
  .megamenu__menu-wrapper {
    grid-auto-rows: minmax(20px, -webkit-max-content) !important;
    grid-auto-rows: minmax(20px, max-content) !important;
  }
  .megamenu__menu-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(20px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}
@media (min-width: 1024px) and (min-width: 1200px) and (min-width: 1024px) {
  .megamenu__menu-wrapper {
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}
@media (min-width: 1024px) {
  .megamenu__menu-wrapper--full-width {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: minmax(20px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .megamenu__menu-wrapper--full-width {
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
@media (min-width: 1024px) {
  .megamenu-content {
    width: 30%;
  }
}

.desktop-menu__title {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 600;
  white-space: break-spaces;
}
.desktop-menu__title--row {
  grid-column: 1/-1;
}
.desktop-menu__nav-link {
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 500;
  white-space: break-spaces;
}

.nav-bar {
  position: static;
  padding-bottom: 5px;
}
.nav-bar__item {
  margin: 0;
  padding: 0;
}
.nav-bar__link {
  font-family: "poppins";
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  text-transform: capitalize;
  padding-left: 0;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  padding: 4px;
  padding-right: 0;
  font-size: 10px;
}
.nav-bar__link--special {
  color: #ED1C24 !important;
}
@media (min-width: 390px) {
  .nav-bar__link {
    padding: 10px 0;
    font-family: "poppins";
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .nav-bar__link {
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    font-weight: 500;
  }
}
.nav-bar__link:hover {
  color: #ED1C24;
}
.nav-bar__link--nested:hover {
  background: #f5f5f5;
  color: currentColor;
}
.nav-bar__link .arrow-bottom-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-bar__link[aria-expanded=true] .arrow-bottom-top svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav-bar__linklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: capitalize;
}
.nav-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .nav-bar__container {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .nav-bar__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0;
  }
}

.hide-mobile {
  display: none;
}
@media (min-width: 1024px) {
  .hide-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-content__section .mobile-menu__nav-link {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

@media (min-width: 1200px) {
  .popover--unlogged {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .popover--unlogged {
    right: 0;
    top: 80px;
  }
}
.form__submit.button {
  color: #fff;
}

@media (min-width: 1024px) {
  .nav-bar__link[aria-expanded=true] {
    background: #f5f5f5;
    color: currentColor;
  }
}
@media (min-width: 1600px) {
  .nav-bar__item > .nav-dropdown {
    min-width: calc(1440px - var(--base-margin));
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.shopify-section__header {
  position: sticky !important;
}
.shopify-section__header {
  top: 0;
}
.shopify-section__header .header__action-item-link--search {
  opacity: 0;
}
@media (min-width: 1024px) {
  .shopify-section__header .nav-bar__inner {
    display: block !important;
    opacity: 1 !important;
  }
}
.shopify-section__header.overlay-active .nav-bar {
  display: none;
}
.shopify-section__header.overlay-active .header__search-bar-wrapper--mobile {
  display: none !important;
}
.shopify-section__header--fixed {
  margin-top: 0 !important;
}
.shopify-section__header--fixed .nav-bar {
  display: none;
}
@media (min-width: 1024px) {
  .shopify-section__header--fixed .nav-bar {
    display: block;
  }
}
@media (min-width: 1024px) {
  .shopify-section__header--fixed .nav-bar__inner {
    opacity: 1 !important;
  }
}
.shopify-section__header--fixed .header__search-bar-wrapper--mobile {
  z-index: -1;
  pointer-events: none;
}

body.no-mobile-scroll {
  position: fixed !important;
}

body.no-mobile-scroll {
  top: 0;
  height: 100%;
  overflow: hidden;
}
body.no-mobile-scroll .uwy {
  z-index: -1;
}
@media (min-width: 1024px) {
  body.no-mobile-scroll {
    position: static !important;
  }
  body.no-mobile-scroll {
    overflow: auto;
  }
}

body .uwy {
  z-index: 4 !important;
  left: 18% !important;
}
@media (min-width: 768px) {
  body .uwy {
    left: 6% !important;
  }
}
@media (min-width: 1200px) {
  body .uwy {
    left: 5% !important;
  }
}

body .uwy .uai {
  right: auto !important;
  right: initial !important;
  left: auto !important;
  left: initial !important;
}

.header-margin-scroll {
  margin-bottom: 0;
}

.container .button {
  color: #fff;
}

.product-form__payment-container .quick-add-to-cart {
  color: #fff;
}

.card .card__header {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .card .card__header {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}

.rebuy-cart__flyout-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 390px) {
  .rebuy-cart__flyout-item-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.blog-post-section__wrapper .swiper-navigation {
  z-index: 2;
}

.gorgias-chat-key-1spa6uy {
  bottom: 9px !important;
  right: 0 !important;
}

body .uwy .uai, body .uwy .uai img {
  min-height: 45px !important;
  min-width: 45px !important;
  max-height: 45px !important;
  max-width: 45px !important;
  width: 45px !important;
  height: 45px !important;
}
