/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/line-breaker.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
.line-breaker {
  height: 1px;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--section-margin);
  background: #D9D9D9;
}
@media (--lg) {
  .line-breaker {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
