/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/most-popular-collection.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
.rebuy-widget-content .primary-title {
  text-align: left !important;
}
.rebuy-widget-content .primary-title {
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 20px));
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  line-height: 1.6;
  color: #000;
}
@media (min-width: 768px) {
  .rebuy-widget-content .primary-title {
    font-size: 32px !important;
  }
  .rebuy-widget-content .primary-title {
    line-height: 1.5;
    font-weight: 700;
  }
}
