/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/okendo-review.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.oke-reviewCarousel-slider {
  position: relative !important;
  padding: 50px !important;
}
.oke-reviewCarousel-next {
  margin: 0 !important;
  margin: initial !important;
}
.oke-reviewCarousel-prev {
  margin: 0 !important;
  margin: initial !important;
}
.oke-reviewCarousel-prev {
  left: auto;
  left: initial;
  right: 25px;
}
