/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/product-okendo-reviewcarousel.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
.oke-reviewCarousel {
  margin-bottom: 0 !important;
  max-width: calc(1440px - 2 * var(--base-margin)) !important;
}

.oke-reviewCarousel-header {
  text-align: left !important;
  margin-bottom: 0 !important;
}

.oke-reviewCarousel-header-title {
  font-size: 20px !important;
}

.oke-reviewCarousel-header-title {
  text-align: left;
}
@media (min-width: 768px) {
  .oke-reviewCarousel-header-title {
    font-size: 32px !important;
  }
}

.oke-reviewCard {
  padding: 16px 0 !important;
}
@media (min-width: 768px) {
  .oke-reviewCard {
    padding: 16px !important;
  }
}

.app {
  margin: 0 auto !important;
  margin-top: calc(2 * var(--section-margin)) !important;
  margin-bottom: 0 !important;
  max-width: calc(1440px - 2 * var(--base-margin)) !important;
  padding: 0 !important;
}

.oke-reviewCarousel-header {
  padding: 0 var(--section-padding) !important;
}
@media (min-width: 768px) {
  .oke-reviewCarousel-header {
    padding: 0 calc(2 * var(--section-padding)) !important;
  }
}
@media (min-width: 1440px) {
  .oke-reviewCarousel-header {
    padding: 0 !important;
  }
}
