/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/product-info.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
.product-form .complimentary__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1.5px solid #DA3832;
  border-radius: 3px;
  padding: 1rem;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}
@media (max-width: 450px) {
  .product-form .complimentary__wrapper {
    gap: 0.8rem;
  }
}
.product-form .complimentary__wrapper .complimentary__wrapper_image {
  max-width: 100%;
  height: 128px;
  width: 85px;
  border-style: none;
  vertical-align: top;
}
@media (max-width: 450px) {
  .product-form .complimentary__wrapper .complimentary__wrapper_image {
    width: 70px;
    height: 97px;
  }
}
.product-form .complimentary__wrapper .complimentary__wrapper--content .cp__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #da3832;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}
@media (max-width: 450px) {
  .product-form .complimentary__wrapper .complimentary__wrapper--content .cp__title {
    font-size: 19px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .product-form .complimentary__wrapper .complimentary__wrapper--content .cp__title {
    font-size: 25px;
  }
}
.product-form .complimentary__wrapper .complimentary__wrapper--content .cp__title svg {
  margin-right: 1rem;
}
.product-form .complimentary__wrapper .complimentary__wrapper--content .complimentary__wrapper--description {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
}
@media (max-width: 450px) {
  .product-form .complimentary__wrapper .complimentary__wrapper--content .complimentary__wrapper--description {
    font-size: 12px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .product-form .complimentary__wrapper .complimentary__wrapper--content .complimentary__wrapper--description {
    font-size: 14px;
  }
}
