/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/product-tabs.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
.tab-section--mobile {
  display: block;
}
@media (min-width: 1024px) {
  .tab-section--mobile {
    display: none;
  }
}
.tab-section--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .tab-section--desktop {
    display: block;
  }
}
.tab-section__SEO-heading {
  margin-bottom: 0 !important;
  font-family: "poppins";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .tab-section__SEO-heading {
    font-family: "poppins";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.product-block {
  margin-top: var(--section-padding);
  border-radius: 10px;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .product-block {
    max-width: calc(1440px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .product-block {
    margin-top: calc(2 * var(--section-padding));
    border: 1px solid #E1E3E4;
    border-radius: 0;
    border-radius: initial;
  }
}
.product-block__tab-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.product-block * {
  margin-bottom: 0;
  padding-top: 0;
}
.product-block p, .product-block h1, .product-block h2, .product-block h3, .product-block h4, .product-block h5, .product-block h6 {
  margin-bottom: 12px !important;
}

.social-media__item svg {
  opacity: 1 !important;
}

.tab-section .tab-section__tabs .tab-section__tabs {
  padding: 16px 0;
  white-space: nowrap;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow: auto;
}
.tab-section .tab-section__tabs .tab-section__tab-description strong {
  font-size: 15px;
  font-weight: 600;
}
.tab-section .tab-section__tabs .tab-section__tab-title {
  cursor: pointer;
  padding: 0 var(--section-padding);
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
}
.tab-section .tab-section__tabs .tab-section__tab-title.product-atb__button--active {
  color: #ED1C24;
  border-bottom: 1px solid #ED1C24;
  padding-bottom: var(--section-padding);
}
.tab-section .tab-section__tab-description {
  padding: 40px 24px;
  border-top: 1px solid #E1E3E4;
}
.tab-section .accordion {
  padding: 28px 0;
  margin: 0 !important;
  border-top: 1px solid #E1E3E4;
  cursor: pointer;
}
.tab-section .accordion .header {
  margin-bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tab-section .accordion .header .text {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
}
.tab-section .accordion .details {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  line-height: 29.92px;
  background: none !important;
  padding: var(--section-padding) 0 0 !important;
}
