/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/rebuy-cart.scss ***!
  \**************************************************************************************************************************************************************************************************************************/
.rebuy-cart__flyout-item {
  padding: 4px !important;
}

.rebuy-cart__flyout-header {
  padding: 0 var(--base-margin) !important;
}
@media (min-width: 768px) {
  .rebuy-cart__flyout-header {
    padding: 5px var(--base-margin) !important;
  }
}

.rebuy-cart__progress-step-label {
  font-size: 10px !important;
}
@media (min-width: 768px) {
  .rebuy-cart__progress-step-label {
    font-size: 12px !important;
  }
}

.rebuy-cart__flyout-body {
  display: block !important;
  overflow-y: auto !important;
}

.rebuy-cart__flyout-discount-form {
  height: 38px !important;
}
@media (min-width: 768px) {
  .rebuy-cart__flyout-discount-form {
    height: 48px !important;
  }
}

.rebuy-cart__flyout-discount-form .rebuy-input {
  padding: 7px 15px !important;
}
@media (min-width: 768px) {
  .rebuy-cart__flyout-discount-form .rebuy-input {
    padding: 10px 15px !important;
  }
}

.rebuy-cart__progress-bar-container {
  padding: 7px !important;
  position: sticky;
  top: 0;
  z-index: 9;
  background: #fff;
}
@media (min-width: 768px) {
  .rebuy-cart__progress-bar-container {
    padding: 10 !important;
  }
}

.rebuy-cart__progress-bar-prompt {
  margin-top: 4px !important;
  font-size: 12px !important;
}
@media (min-width: 768px) {
  .rebuy-cart__progress-bar-prompt {
    margin-top: 10px !important;
    font-size: 14px !important;
  }
}

.rebuy-cart__flyout-item-buy-more-save-more-button-container .rebuy-button {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.rebuy-bundle__actions-price-bundle-percentage {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 600 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .rebuy-bundle__actions-price-bundle-percentage {
    font-family: "poppins";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
}
@media (min-width: 1024px) {
  .rebuy-bundle__actions-price-bundle-percentage {
    font-family: "poppins";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.rebuy-bundle__actions-price-bundle-percentage--value {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 7px 10px;
  color: #fff;
  background: #ED1C24;
  margin-left: 16px;
  border-radius: 100px;
}
@media (min-width: 1024px) {
  .rebuy-bundle__actions-price-bundle-percentage--value {
    font-family: "poppins";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.rebuy-cart__flyout-discount-amount {
  display: none !important;
}

html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
