.rebuy-widget .primary-title{
  text-align: left;
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 20px));
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  line-height: 1.6;
  color: #000;
}

@media screen and (min-width: 641px){
  .rebuy-widget .primary-title{
      font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 31px));
      line-height: 1.5;
      font-weight: 700;
  }

}

.rebuy-widget .rebuy-product-block {
  border: 1px solid #e1e3e4;
  min-width: 16.6667%;
}

@media (max-width: 640px){
  .rebuy-widget .rebuy-product-block {
      width: 62% !important;
      min-width: 62%;
  } 
}

@media ((min-width:599px) and (max-width: 999px)) {
  .rebuy-widget .rebuy-product-block {
      width: 36% !important;
      min-width: 36%;
  } 
}

@media (min-width: 1000px) and (max-width: 1279px){
  .rebuy-widget .rebuy-product-block {
      width: 25% !important;
      min-width: 25%;
  } 
}
@media (min-width: 1280px) and (max-width: 1439px){
  .rebuy-widget .rebuy-product-block {
      width: 20% !important;
      min-width: 20%;
  } 
} 

.rebuy-widget .rebuy-product-block .rebuy-product-media img{
  height: 200px;
  width: 100%;
}

.rebuy-widget .rebuy-product-block .rebuy-product-media img{
  max-height: 200px;
  max-width: 100%;
}

.rebuy-widget .rebuy-product-grid.large-carousel {
  padding: 0
}

.rebuy-widget .splide__slide {
  border-radius: 0;
}

.rebuy-widget .rebuy-carousel__pagination,.rebuy-widget:hover .powered-by-rebuy{
  display: none;
}

.rebuy-widget .rebuy-product-block .rebuy-product-info{
  text-align: left;
  margin: 12px 0 0;
  display: flex;
  flex-direction: column;
}
.rebuy-widget .rebuy-product-block .rebuy-vendor{
  text-transform: uppercase;
  order: 2;
}

.rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable{
  line-height: 1.3em;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  order: 3;
  min-height: 85px;

}
.rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-price{
  margin: 8px 0 0;
  order: 4;
}
.rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-price .rebuy-money.sale,
.rebuy-money, .rebuy-widget .rebuy-money{
  color: black;
  font-size: 14px 
}
.rebuy-money.compare-at, .rebuy-widget .rebuy-money.compare-at {
  color: #677279;
  font-size: 14px;
  font-family: DIN Next, sans-serif;

}

.rebuy-widget .rebuy-button{
  font-size: 15px;
  font-weight: 600;
  color: #ed1c24;
  background-color: #fff;
  border: 1px solid #D3D3D3;
  padding: 0.3em 0.5em;
}

.rebuy-widget .rebuy-button:hover {
  background-color: #e1e3e4;
  color: #000;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow{
  background-color: #abb1b4;
  height: 50px;
  width: 50px;
  transition: all .2s ease-in-out;
  transform: scale(.7);
  opacity: 0;
}

.rebuy-widget:hover .rebuy-carousel__arrows .rebuy-carousel__arrow{
  transform: scale(1);
  opacity: 1;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow svg{
  fill: #fff;
  width: 15px;
  height: 15px;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow:hover:not(:disabled) svg{
  fill: #fff;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow:hover:not(:disabled){
  background: #ed1c24;
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow--prev {
  left: -25px
}

.rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow--next{
  right: -25px;
}

.rebuy-select, select.rebuy-select{
  font-size: 15px;
  padding: 6px 40px 6px 15px
}

.rebuy-widget .rebuy-product-review .rebuy-review-count {
  color: #c5c9cc;
  font-size: 16px;
}

.rebuy-widget .rebuy-product-review .rebuy-review-count-parenthesis{
  display: none;
}

.rebuy-widget .rebuy-product-block .rebuy-product-options{
  margin-top: 10px;
}

@media (max-width: 999px){
  .rebuy-widget .rebuy-carousel__arrows .rebuy-carousel__arrow{
      display: none;
  }
  .rebuy-mobile__container{
      padding: 0;
  }
  .rebuy-widget .splide__track{
      padding-left: 40px !important;
      padding-right: 40px !important;
  }
  .rebuy-widget .primary-title{
      padding-left: 40px
  }
}

@media (max-width: 640px){
  .rebuy-widget .splide__track{
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
  .rebuy-widget .primary-title{
      padding-left: 20px
  }
}

@media (max-width: 767px){
  .rebuy-widget .powered-by-rebuy{
      opacity: 0;
  }
}

.rebuy-widget .rebuy-star-rating-background:empty{
  display: none;
}

.rebuy-sale-tag__wrapper{
  position:absolute;
  top: 41px;
}
.rebuy-sale-tag{
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 14px;
  font-family: DIN Next, sans-serif;
  font-weight: 600;
  padding: 10px;
  background-color: #ed1c24;
  text-transform: uppercase;
}

@media (max-width: 480px){
  .rebuy-widget .rebuy-product-block{
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
}