
.alphabets-fitler-title{
    margin: 0 auto 40px;
    background: #FAFAFA;
    line-height: 50px;
}

.alphabetic-order{
    display: flex;
    list-style: none;
    justify-content: center;
}
.alphabetic-order li{
    font-size: 20px;    
    color: #B4B4B4;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Poppins';
    width: 45px;
    text-align: center;
}
.alphabetic-order li.active{
    border-bottom: 3px solid #ED1C24;
    color: #ED1C24;
}
.collection-list__section .quick-links .quick-links__link .quick-links__image-ie-fix .aspect-ratio{
    padding-bottom: 30% !important;
}
.collection-list__section .quick-links .quick-links__link .quick-links__image-ie-fix .aspect-ratio img{
    object-fit: contain;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.page__header--stack.page__header--left{
    align-items: flex-start;
}
.page__header--stack.page__header--center{
    align-items: center;
}
.page__header--stack.page__header--right{
    align-items: flex-end;
}
@media(max-width:1024px){
    .alphabetic-order::-webkit-scrollbar {
        width: 0;
        background: transparent; 
        display: none;
    }    
    .alphabetic-order{
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
    }
    .alphabetic-order li{
        flex: 0 0 auto;
        white-space: normal;
        scroll-snap-align: start;
    }
}

/* Shop by Brands Featured Collection */
.shop_by_brands_parent .collection-block-item__title{
    position: relative;
    transform: translate(0, 0);
    text-align: left;
    color: #000;
    text-shadow: none;
    top: 0;
    left: 0;
    font-size: 17px;
    padding: 20px 0 5px 0;
    margin-bottom: 0;
}
.shop_by_brands_parent .shop_by_brands_button{
    display: block;
}
.shop_by_brands_parent .shop_by_brands_metafield_tags_parent{
    margin-top: 16px;
}
.shop_by_brands_parent .shop_by_brands_metafield_tags_parent .shop_by_brands_metafield_tags {
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    padding: 5px 12px;
    border-radius: 16px;
    margin-right: 10px;
    color: #4D4949;
    display: inline-block;
}
.shop_by_brands_parent .shop_by_brands_button {
    margin-top: 15px;
    display: block;
    background: #ED1C24;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.shop_by_brands_parent .flickity-prev-next-button.next{
    right: 0;
    top: -80px;
}
.shop_by_brands_parent .flickity-prev-next-button.previous{
    left: unset;
    top: -80px;
    right: 60px;
}
.shop_by_brands_parent.flickity-enabled:hover .flickity-prev-next-button:not([disabled]){
    transform: scale(0.7);
}
.shop_by_brands_parent .shop_by_brands_child_container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 0 20px 20px;
}
.shop_by_brands_parent .collection-block-item {
    border-radius: 0;
}
.shop_by_brands_parent .collection-block-item .collection-block-item__image{
    background-position: 10%;
}
.shop_by_brands_parent .grid__cell {
    padding: 0 4px 30px 30px;
}
.shop_by_brands_parent .shop_by_brands_metafield_tags_parent .shop_by_brands_metafield_tags{
    margin-top: 8px;
    font-size: 14px;
}
.no-filter-results p{
    padding: 1em;
}
.no-filter-results {
    width: 100%;
    font-weight: 500;    
}
.shop_by_brands_parent .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.shop_by_brands_parent .tooltipText {
    background-color: #fff;
    position: absolute;
    bottom: 100%;
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    border: 1px solid #000;
    transition: all .5s;
    flex-direction: column;
    flex-wrap: wrap;
    left: -100%;
    width: 160px;
}
.shop_by_brands_parent .tooltipText::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: 5%;
}
.shop_by_brands_parent .tooltip:hover .tooltipText{
    opacity: 1;
    transform: translateY(-10px);
}

@media (max-width: 641px){
    .shop_by_brands_parent .tooltip .tooltipText{
        display: none;
    }
    .shop_by_brands_parent .grid__cell {
        padding: 0 4px 20px 20px;
    }
    .shop_by_brands_parent .shop_by_brands_child_container {
        padding: 0 10px 10px;
    }
    .shop_by_brands_parent .shop_by_brands_metafield_tags_parent .shop_by_brands_metafield_tags{
        margin-top: 8px;
    }
    .shop_by_brands_parent .flickity-page-dots {
        bottom: -15px !important;
    }
}