@use 'StyleComponents/mixins';
@import 'breakpoints';

.product-list{
    &--custom {
        @include mixins.product-grid-collection;
        @include mixins.container;
      
        @media(--md) {
          max-width: 100%;
        }

        .product-card__image {
          min-height: auto !important;
        }
      }
}

.collection__toolbar-item--layout{
  display: none;
}
