@use 'StyleComponents/mixins';

.section {

    &__heading-wrapper {
        @include mixins.container;
        margin-bottom: var(--section-margin);
        display: flex;
        align-items: center;
        justify-content: space-between;
          @media(--sm){
            margin-bottom: calc(2*var(--section-margin));
          }
    }

    &__heading {
      @include use-text-style('heading-3');
      line-height: 1.4;
      @media(--md) {
        @include use-text-style('heading-1');
      }
    }

    &__url{
        text-decoration: underline;
        text-transform: capitalize;
        @include use-text-style('body-regular');
        font-weight: 600;
        @media(--md) {
            @include use-text-style('heading-3');
            font-weight: 500;
        }
    }
}