@use 'StyleComponents/typography';

.text {
  &__eyebrow {
    margin-bottom: 0;
    @include use-text-style('body-alt-small');

    @media (--md) {
      @include use-text-style('body-alt');
      font-weight: typography.$semi-weight;
    }
  }

  &__heading {
    @include use-text-style('heading-3');
    margin-bottom: 0;

    @media (--md) {
      @include use-text-style('heading-1');
    }
  }

  &__subheading {
    @include use-text-style('body-regular');

    @media (--md) {
      @include use-text-style('heading-3');
      font-weight: typography.$medium-weight;
    }
    font-weight: 600;
  }

  &__cta {
    margin-top:16px;
  }
}