.boost-pfs-filter-option-content-inner {
    scrollbar-width: none !important;
    ul{
        padding-right: unset !important;
    }
}

.boost-popup-open .needsclick.kl-teaser-Rr74yr {
    opacity: 0;
}

 @media (--sm) {
    .boost-popup-open .needsclick.kl-teaser-Rr74yr {
        opacity: 1;
    }
 }