{%- comment -%}
If the product contains the special __gift tag, we prevent it to be completely accessible by redirecting to the home page
{%- endcomment -%}
<h1>Opps you are not suppose to be here </h1>
<script>
  window.location.href = '/';
</script>
